<div class="container-fluid fluid-bg fluid-pay enableOrderInfo" *ngIf="enableOrderInfo">
    <div class="container recieptwrapper">
       <div class="col-md-8 receipt_container">
          <div class="col-md-12 recommended_bg_pay">
             <div class="account-div">
                   <p class="side-arrow-p" (click)="continuShop()"><span class="left-arrow-span"><i class="fa fa-chevron-left"></i></span>Fortsätt handla</p>  
                   <p class="bike-p"><span class="font-span"><img class="res_logo_side" src="./assets/images/deliver.png"></span></p>
                   <div *ngIf="stopCheckConfirmation">
                      <p class="tack-p">Tack for din bestallning!</p>
                      <p class="du-p">Du ar nu i direjtanslutning med restaurange sam<br>granskar din order och snart kommer att bekrafta den<br>och ange leveranstid. Det sker normalt inom 30<br>sekunder men kan ta ett par mintuer.</p>            
                   </div>
                   <div *ngIf="!stopCheckConfirmation" class="successOrder">
                      <p class="tack-p" style="color:#4cb95e">Thanks for your purchase!</p>
                      <p class="du-p" *ngIf="!isWorkOrder">Your order was confirmed at {{delieveryTime}}.<br>The restaurant estimates that the order will be<br>delivered within {{confirmationDetails}} minutes.</p>            
                      <p class="du-p">NOTE: Sometimes delivery can take place earlier than<br>The stated time above.</p>   
                      <HR style="border-top: 2px solid #2B2B3F;margin: 40px auto 0;clear: both;margin-right: 10px;">
                      <p class="du-p">
                         Order number: <span class="order_details">{{orderInfo.reference_no}}</span><br>
                         Amount: <span class="order_details">{{orderTotal.taxable_total}}{{orderTotal.curr}}</span>.<br>
                         Payment methods: <span class="order_details">{{orderInfo.payment_type}}</span>.</p>            
                   </div>
             </div>            
          </div>        
       </div>
       
       <!-- <div id="sticky-anchor" class="hidden-xs" ></div> -->
       <div class="col-md-4 bg-marg-30">
          <div id="sticky">
             <div>
                <div class="slide_head_order">
                   <p class="your-order">Order Details</p>
                </div>                                    
                <div class="slide-body_res">
                   
                   <p class="res-ord_list" *ngIf="isWorkOrder">Company Name&nbsp;&nbsp;&nbsp; : &nbsp;&nbsp;&nbsp;<span class="res-ord_list-span">{{orderInfo.Company_name}}</span></p>
                   <p class="res-ord_list" *ngIf="isWorkOrder">Address&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : &nbsp;&nbsp;&nbsp;<span class="res-ord_list-span">{{orderInfo.Company_address}}</span></p>
                   <p class="res-ord_list" *ngIf="!isWorkOrder">Merchant Name&nbsp;&nbsp;&nbsp; : &nbsp;&nbsp;&nbsp;<span class="res-ord_list-span">{{orderInfo.merchant_name}}</span></p>
                   <p class="res-ord_list" *ngIf="!isWorkOrder">Restaurant phone : &nbsp;&nbsp;&nbsp;<span class="res-ord_list-span">{{merchant_phone}}</span></p>
                   <p class="res-ord_list" *ngIf="!isWorkOrder">Delivery Type&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : &nbsp;&nbsp;&nbsp;<span class="res-ord_list-span">{{orderInfo.delivery_type ? orderInfo.delivery_type : '-'}}</span></p>
                   <p class="res-ord_list">Payment Type&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : &nbsp;&nbsp;&nbsp;<span class="res-ord_list-span">{{orderInfo.payment_type ? orderInfo.payment_type: '-'}}</span></p>
                   <p class="res-ord_list">Reference # &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: &nbsp;&nbsp;&nbsp;<span class="res-ord_list-span">{{orderInfo.reference_no}}</span></p>
                   <p class="res-ord_list">Deliver Instruction : &nbsp;&nbsp;&nbsp;<span class="res-ord_list-span">{{orderInfo.delivery_instruction}}</span></p>
                   <p class="res-ord_list"  *ngIf="!isWorkOrder">Name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : &nbsp;&nbsp;&nbsp;<span class="res-ord_list-span">{{customerInfo.full_name}}</span></p>
                   <p class="res-ord_list">Contact Number &nbsp;&nbsp;: &nbsp;&nbsp;&nbsp;<span class="res-ord_list-span">{{customerInfo.contact_phone}}</span></p>
                   <div class="col-md-12 padd-zero" style="margin: 5px auto;">
                      <div class="col-md-12 padd-zero" style="margin: 5px auto;" *ngFor="let cartData of orderItems let i=index;">
                         <div class="col-md-8 product_name"><span class="qtySec">{{cartData.qty}}</span> {{cartData.item_name}}</div>
                         <div class="col-md-4 sub_total_amt">
                            <span class="pull-right distance">{{cartData.discounted_price}} Kr</span>
                         </div>
                      </div>
                      <HR style="border-top: 2px solid #2B2B3F;margin: 40px auto 0;clear: both;margin-right: 10px;">
                      <div class="total_div">
                         <span class="to_pay_delsumma">DelSumma</span><span class="to_pay_amt_delsumma">{{orderTotal.subtotal}}{{orderTotal.curr}}</span>
                      </div>
                      <div class="total_div" *ngIf="!isWorkOrder">
                         <span class="to_pay_delsumma">Hemkörningsavgift</span><span class="to_pay_amt_delsumma">{{orderTotal.delivery_charges}}{{orderTotal.curr}}</span>
                      </div>
                      <div class="total_div">
                         <span class="to_pay to_paysuma">Summa</span><span class="to_pay_amt to_pay_amt_delsumma">{{orderTotal.taxable_total}}{{orderTotal.curr}}</span>
                      </div>
                         <!-- <div class="checkoutBtn" id="checkoutBtn">
                            <a href="javascript:;" (click)="print()" class="btn-checkout btn-block" *ngIf="!emptyCarts">Skriv ut</a>
                         </div> -->
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>