<div class="container-fluid">
  <div class="container">
    <div class="kkclass" style="position: absolute;bottom: 40%;margin: 0px auto;width: 100%;left: 0;">
      <div class="logo_div_new" style="text-align: center;margin-bottom: 60px;">
        <img class="logo_img" src="../../../assets/images/1428568091-Attachment-1.png" width="333" height="43">
      </div>
      <div class="btn_div_hem" routerLink="/home">
        <div class="col-md-12 col-sm-12 hhclass">
          <span class="home_btn_cont active">
            <i class="fa fa-home" aria-hidden="true"></i>&nbsp;Hemleverans</span>
          <span class="home_btn_cont"><i class="fa fa-building" aria-hidden="true"></i>&nbsp;Arbetsleverans</span>
        </div>
        <div class="hclass">
          <div class="col-xs-12" style="margin-bottom: 20px;">
            <div class="home_btn_cont_new active">
              <i class="fa fa-home" aria-hidden="true"></i>&nbsp;Hemleverans</div>
          </div>
          <div class="col-xs-12">
            <div class="home_btn_cont_new"><i class="fa fa-building" aria-hidden="true"></i>&nbsp;Arbetsleverans</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng4-loading-spinner> </ng4-loading-spinner>