<nav class="navbar navbar-cont navbar-fixed-top hidden-xs nav-desktop">
  <div class="container-fluid nav-cont">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle bg_togle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar icon_bg"></span>
        <span class="icon-bar icon_bg"></span>
        <span class="icon-bar icon_bg"></span>
      </button>
      <a class="navbar-brand" href="#"><img class="logo_img" src="./assets/images/w_logo.png"></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li class="cta-open" style=" border-left: 0px !important;"><a style="color: #ffffff !important;"><span class="glyphicon glyphicon-user"></span>
            <span class="logg_class" style="font-size: 1.2rem;" >{{ userName ? userName: 'Logga in' }}</span></a></li>
        <li class="catr_icon"><a><span class="glyphicon glyphicon-shopping-cart"></span></a></li>
      </ul>
    </div>
  </div>
</nav>
<nav class="navbar navbar-cont navbar-fixed-top visible-xs nav-mob">
  <div class="container-fluid nav-cont" style="padding: 0;">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><img style="height: 22px;" src="./assets/images/w_logo.png"></a>
    </div>
    <a  class="pull-left cta-open" style="padding: 20px !important;line-height: 0;color: #ffffff;"><span class="glyphicon glyphicon-user"></span>
    </a>
    <a  class="pull-right" style="padding: 20px !important;line-height: 0;color: #ffffff;"><span class="glyphicon glyphicon-shopping-cart"></span></a>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li></li>
        <li></li>
      </ul>
    </div>
  </div>
</nav>
<section class="toggle-form" style="padding: 0px !important">
  <div class="formwrap px-4">
    <div class="icon-close pos-a"><img class="close_img" src="./assets/images/59836.svg" style="
              width: 18px; margin-left: 13px;"
        alt="Close Button"></div>
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-8">
        <p class="text-white mt-4 h3">Logga in</p>
        <span class="or_sing">eller</span><a class="sing_up_tag cta-open1">skapa ett konto</a>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-4">
        <img class="side_img" src="./assets/images/Image-login_btpq7r.png" style="width: 76px; float: right;">
      </div>
    </div>
    <div class="from_class">
      <form action="#" method="post" role="form" data-toggle="validator">
        <div class="form-group" style="margin-bottom:0px;">
          <div class="phone_div">
            <input type="text" id="phone" name="phone" class="form-control phone_num required" data-error="Please enter a valid phone number"
              required>
            <div class="empty_div"></div>
            <label for="phone" class="phone_label control-label">E-post</label>
          </div>
        </div>
        <div class="form-group" style="margin-bottom: 0px;">
          <div class="passwors_div">
            <input type="password" id="password" name="password" class="form-control phone_num required" data-error="Please enter a valid password"
              required>
            <div class="empty_div"></div>
            <label for="phone" class="phone_label control-label">Lösenord</label>
          </div>
        </div>
        <p class="text-center margin-top-s" style="visibility: hidden; margin-bottom: 0px;"><small>
            Genom att klicka på "Skicka" accepterar du <a href="/terms/">
              Användarvillkor</a>.</small>
        </p>
        <p class="margin-0"><button type="submit" class="btn btn-lg orange w-100 margin-top-s">Logga in</button></p>
      </form>
    </div>
  </div>
  <div class="toggle-bg"></div>
</section>
<section class="toggle-form1" style="padding: 0px !important">
  <div class="formwrap1 px-4">
    <div class="icon-close1 pos-a"><img src="./assets/images/59836.svg" style="
              width: 18px; margin-left: 13px;"
        alt="Close Button"></div>
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-6">
        <p class="text-white mt-4 h3">Bli Medlem</p>
        <span class="or_sing">or</span><a class="sing_up_tag cta-open">Logga in</a>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-6">
        <img class="side_img" src="./assets/images/Image-login_btpq7r.png" style="width: 76px; float: right;">
      </div>
    </div>
    <div class="from_class">
      <form  [formGroup]="registerForm" (ngSubmit)="onSubmit()" role="form" data-toggle="validator">
        <div class="form-group" style="margin-bottom:0px;">
          <div class="phone_div">
            <input type="text" formControlName="firstName"  id="phone1" name="phone" class="form-control phone_num required" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" data-error="Please enter a valid phone number"
              required>
            <div class="empty_div"></div>
            <label for="phone" class="phone_label control-label">
              Efternamn</label>
              <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                <div *ngIf="f.firstName.errors.required">Please enter a valid FirstName</div>
            </div>
          </div>
        </div>
        <div class="form-group" style="margin-bottom:0px;">
          <div class="phone_div">
            <input type="text" formControlName="lastName"  id="phone1" name="phone" class="form-control phone_num required" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" data-error="Please enter a valid phone number"
              required>
            <div class="empty_div"></div>
            <label for="phone" class="phone_label control-label">
              Förnamn</label>
              <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                <div *ngIf="f.lastName.errors.required">Please enter a valid LastName</div>
            </div>
          </div>
        </div>
        <div class="form-group" style="margin-bottom:0px;">
          <div class="passwors_div">
              <input type="number" formControlName="mobileNumber"  id="phone1" name="mobileNumber" class="form-control phone_num required" [ngClass]="{ 'is-invalid': submitted && f.mobileNumber.errors }" data-error="Please enter a valid phone number"
              required>
            <div class="empty_div"></div>
            <label for="phone" class="phone_label control-label">
              Mobilnummer</label>
              <div *ngIf="submitted && f.mobileNumber.errors" class="invalid-feedback">
                <div *ngIf="f.mobileNumber.errors.required">Please enter a valid phone number</div>
            </div>
          </div>
        </div>
        <!-- div.error-box(color='menugreen',*ngIf="(loginForm.controls['email'].hasError('required') || loginForm.controls['email'].hasError('email')) && loginForm.controls['email'].touched") * Valid Email is required! -->

        <div class="form-group" style="margin-bottom:0px;">
          <div class="passwors_div">
              <input type="email" formControlName="email"  id="phone1" name="email" class="form-control phone_num required" [ngClass]="{ 'is-invalid': submitted && (f.email.errors) }" data-error="Please enter a valid email"
              required>
            <div class="empty_div"></div>
            <label for="phone" class="phone_label control-label">Mailadress</label>
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Please enter a valid Email</div>
                <div *ngIf="f.email.touched && f.email.dirty && f.email.invalid && f.email.errors.email">Email must be a valid email address</div>
            </div>
          </div>
        </div>
        <div class="form-group" style="margin-bottom:0px;">
          <div class="passwors_div">
            <input type="password" id="password1" formControlName="password" name="password" class="form-control phone_num required" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" data-error="Please enter a valid password"
              required>
            <div class="empty_div"></div>
            <label for="phone" class="phone_label control-label">Lösenord</label>
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Please enter a valid password</div>
            </div>
          </div>
        </div>
        <div class="referral_div">
          <a class="have_referral">
            Har en hänvisningskod?</a>
        </div>
        <p class="margin-0"><button type="submit" class="btn btn-lg orange w-100 margin-top-s">FORTSÄTTA</button></p>
        <p class="text-center margin-top-s"><small class="small_class">Genom att klicka på "Skicka" accepterar du
            <a class="contison_a" href="#">Användarvillkor</a>.</small>
        </p>
      </form>
    </div>
  </div>
  <div class="toggle-bg1"></div>
</section>
<div class="new_hole_div">
  <div class="container_fluid container_new_hole_div">
    
    <section class="cSection cSectionSearch">
      <div class="container cNoContainerpadding">
        <h1 class="hungry_load_h1">Hungrig?</h1>
        <p class="hungry_load_p">Beställ mat från favoritrestauranger i närheten av dig.</p>
        <div class="cSearchWrapper">
          <form [formGroup]="cSearchForm" (ngSubmit)="onSearch()"  id="search_form" class="cSearchForm">
            <div class="cSearchInputWrapper">
              <div class="cSearchInputBox">
                <input type="text" #input_geo_location placeholder=""  formControlName="search_address" class="cSearchInput cGeoLocationInput"
                  autocomplete="off" value="">
                <input type="hidden" value="" name="address"> 
                <!-- formControlName="search_address_city"> -->
                <label class="cSearchTextPlaceholder">Ange ditt postnummer</label>
                <span class="cGeoLocator cTriggerGeoLocation" (click)="onGeoloc()" data-state="">
                  <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewBox="0 0 23 23">
                    <g fill="none" fill-rule="evenodd">
                      <path stroke="#7A0003" d="M11.5 22.5v-2.986l.471-.028a8.001 8.001 0 0 0 7.515-7.515l.028-.471H22.5h-2.986l-.028-.471a8.001 8.001 0 0 0-7.515-7.515l-.471-.028V.5v2.986l-.471.028a8.001 8.001 0 0 0-7.515 7.515l-.028.471H.5h2.986l.028.471a8.001 8.001 0 0 0 7.515 7.515l.471.028V22.5z"></path>
                      <circle cx="11.5" cy="11.5" r="4" stroke="#7A0003"></circle>
                      <circle cx="11.5" cy="11.5" r="1" fill="#7A0003"></circle>
                    </g>
                  </svg>
                </span>
              </div>
              <div class="cSearchBtnWrap">
                <button type="submit" class="cSubmitSearch">Hitta restauranger</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>
  </div>
</div>
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content" style="width: 400px;   height: 339px; border-radius: 13px !important;">
      <div class="modal-header" style="text-align: center;text-transform: uppercase;  border-bottom: 1px solid #ebebeb;    padding: 0 15px 8px;   font-weight: 700; margin-top: 13px;">
        <button type="button" class="close" data-dismiss="modal" style="
                  position: relative;     top: -9px;     background-color: #780300;
                  opacity: unset !important;
                  padding: 6px 11px;
                  color: #ffffff;
                  border: 1px solid #fffdfd;
                  border-radius: 50px;">&times;</button>
        <h4 class="modal-title">Välj din plats</h4>
      </div>
      <div class="modal-body">
        <div class="col-md-6 col-sm-6 col-xs-6 left_img_div" style="    text-align: right;">
          <img src="./assets/images/icon.png">
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6 right_cont_div">
          <span class="today_span">Dagens lunch!</span>
          <span class="deliver_work_span" style="font-size: 13px !important;">Leverans vid ditt arbete</span>
        </div>
        <input placeholder="Välj din plats" type="text" name="city" list="cityname" style="width: 100%;    border: 1px solid #780300;    border-radius: 5px;     margin-top: 15px;">
        <datalist id="cityname">
          <option value="Västerås">
          <option value="Eskilstuna">
        </datalist>
        <button type="button" style="float: right;margin-top: 16px;background-color: #780300;
                  color: #ffffff;border: 1px solid #780300;padding: 10px 15px;border-radius: 5px;">lämna</button>
      </div>
    </div>
  </div>
</div>
