<nav class="navbar navbar-cont navbar-fixed-top hidden-xs showFixedHeader" *ngIf="currentRoute != '/home'" style="background-color: #fff;">
  <div class="container-fluid nav-cont">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle bg_togle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar icon_bg"></span>
        <span class="icon-bar icon_bg"></span>
        <span class="icon-bar icon_bg"></span>
      </button>
      <a class="navbar-brand-fixed" href="#"><img style="height: 22px;" src="./assets/images/red_logo.png"></a>
    </div>
    <div class="nav navbar-nav navbar-left navbar-left-brand" id="navbar-left-brand-tab">
      <span class="del-to"> LEVERANS TILL:</span>
      <span class="address"> {{postalcode}} </span>
      <i class="fa fa-chevron-down" style="color: #7A0003" (click)="showPostalSearch()"></i>
      <div class="input-group" style="width: 100%;margin-top: 25px;z-index: -1;" *ngIf="locateSearchTab">
        <input type="text" value="{{postalcode}}" [(ngModel)]= "postalcode" autocomplete="off"  class="form-control cSearchInput postcodeSearch" style="border-radius: 0;border-color:#ddd;font-size: 15px;color: #333;" placeholder="Drottninggatan 1, 753 10 Uppsala">
          <span class="input-group-addon" (click)="onGeoloc()" style="background-color: #fff;border: 1px solid #ddd;border-left: 0px;">
            <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewBox="0 0 23 23">
              <g fill="none" fill-rule="evenodd">
                <path stroke="#7A0003" d="M11.5 22.5v-2.986l.471-.028a8.001 8.001 0 0 0 7.515-7.515l.028-.471H22.5h-2.986l-.028-.471a8.001 8.001 0 0 0-7.515-7.515l-.471-.028V.5v2.986l-.471.028a8.001 8.001 0 0 0-7.515 7.515l-.028.471H.5h2.986l.028.471a8.001 8.001 0 0 0 7.515 7.515l.471.028V22.5z"></path>
                <circle cx="11.5" cy="11.5" r="4" stroke="#7A0003"></circle>
                <circle cx="11.5" cy="11.5" r="1" fill="#7A0003"></circle>
              </g>
            </svg>
          </span>
          <!-- <span class="cGeoLocator cTriggerGeoLocation" data-state="" *ngIf="geoLoading">
              <mat-spinner
              class = "tp-margin"
              [color] = "color"
              [mode] = "mode"
              [value] = "value">
            </mat-spinner>
          </span> -->
          <span class="input-group-addon" style="border-radius: 0;background: #7A0003;padding: 15px;color: #fff;" (click)="onSearch()">
            <i class="fa fa-arrow-right"></i>
          </span>
          <p style="font-size: 12px;position: absolute;top: -8px;left: 42px;background: #fff;z-index: 2" id="locate-me">Din
            adress eller postnummer</p>
      </div>

    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right dropdown">
        <li [ngClass]="{ 'cta-open': !userName }" (click)="openLoginForm()" style=" border-left: 0px !important;"><a><span class="glyphicon glyphicon-user"></span>
          <span class="logg_class" style="font-size: 1.2rem;" >{{ userName ? userName: 'Logga in' }}</span></a></li>
          <li class="catr_icon">
            <a routerLink="merchants">      
              <mat-icon matBadge="{{addedCart ? addedCart: ''}}" matBadgeColor="warn">add_shopping_cart</mat-icon>
            </a>
          </li>
          <div class="dropdown-content" *ngIf="userName">
            <a href="javascript:;" (click)="profile()">Mitt konto</a>
            <a href="javascript:;" (click)="logout()">Logga ut</a>
            </div>
      </ul>
    </div>
  </div>
</nav>
<nav class="navbar navbar-cont navbar-fixed-top hidden-xs nav-desktop showScrolledHeader" *ngIf="currentRoute == '/home'">
  <div class="container-fluid nav-cont">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle bg_togle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar icon_bg"></span>
        <span class="icon-bar icon_bg"></span>
        <span class="icon-bar icon_bg"></span>
      </button>
      <a class="navbar-brand" href="#"><img class="logo_img" src="./assets/images/w_logo.png"></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right dropdown">
        <li [ngClass]="{ 'cta-open': !userName }" (click)="openLoginForm()" style=" border-left: 0px !important;">
          <a href="javascript:;" style="color: #ffffff !important;"><span class="glyphicon glyphicon-user"></span>
            <span class="logg_class" style="font-size: 1.2rem;" >{{ userName ? userName: 'Logga in' }}</span>
          </a>
        </li>
        <li class="catr_icon">
            <a routerLink="merchants">      
                <mat-icon matBadge="{{addedCart ? addedCart: ''}}" matBadgeColor="warn">add_shopping_cart</mat-icon>
          </a>
        </li>
        <div class="dropdown-content" *ngIf="userName">
          <a href="javascript:;" (click)="showProfileForm()">Mitt konto</a>
          <a href="javascript:;" (click)="logout()">Logga ut</a>
        </div>
      </ul>
    </div>
  </div>
</nav>
<nav class="navbar navbar-cont navbar-fixed-top visible-xs showFixedHeader" *ngIf="currentRoute != '/home'" style="display: none">

  <div class="container-fluid nav-cont" style="padding: 0;">

    <div class="navbar-header">

      <!-- <button type="button" class="navbar-toggle bg_togle" data-toggle="collapse" data-target="#myNavbar">

           <span class="icon-bar icon_bg"></span>

           <span class="icon-bar icon_bg"></span>

           <span class="icon-bar icon_bg"></span>                        

           </button> -->

      <a class="navbar-brand" href="#"><img style="height: 22px;" src="./assets/images/red_logo.png"></a>

    </div>

    <div class="nav navbar-nav navbar-left navbar-left-brand showFixedHeader" id="navbar-left-brand-mob" style="left: 15px;width: 100%;top:57px;" >

      <span class="del-to"> LEVERANS TILL: </span>

      <span class="address"> {{postalcode}} </span>

      <i class="fa fa-chevron-down" (click)="showPostalSearch()" style="color: #7A0003"></i>

      <div class="input-group" style="width: 100%;margin-top: 25px;z-index: -1;" id="locate-search-mob" *ngIf="locateSearchTab">

        <input type="text" value="{{postalcode}}" [(ngModel)]= "postalcode" class="form-control cSearchInput postcodeSearch" placeholder="postnummer">

        <span class="input-group-addon" (click)="onGeoloc()" style="background-color: #fff;border: 1px solid #ddd;border-left: 0px;">

          <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewBox="0 0 23 23">

            <g fill="none" fill-rule="evenodd">

              <path stroke="#7A0003" d="M11.5 22.5v-2.986l.471-.028a8.001 8.001 0 0 0 7.515-7.515l.028-.471H22.5h-2.986l-.028-.471a8.001 8.001 0 0 0-7.515-7.515l-.471-.028V.5v2.986l-.471.028a8.001 8.001 0 0 0-7.515 7.515l-.028.471H.5h2.986l.028.471a8.001 8.001 0 0 0 7.515 7.515l.471.028V22.5z"></path>

              <circle cx="11.5" cy="11.5" r="4" stroke="#7A0003"></circle>

              <circle cx="11.5" cy="11.5" r="1" fill="#7A0003"></circle>

            </g>

          </svg>

        </span>

        <span class="input-group-addon" style="border-radius: 0;background: #7A0003;padding: 15px;color: #fff;" (click)="onSearch()">

          <i class="fa fa-arrow-right"></i>

        </span>

        <p style="font-size: 12px;position: absolute;top: -8px;left: 42px;background: #fff;z-index: 2;" id="locate-me-mob">Skriv
          en recension</p>
      </div>
    </div>
    <!-- <a href="" class="pull-left cta-open" style="padding: 20px !important;line-height: 0;color: #7A0003;"><span class="glyphicon glyphicon-user"></span>
    </a> -->
    <a href="javascript:;" [ngClass]="{ 'cta-open': !userName }" (click)="openLoginForm()" class="pull-left" style="padding: 20px !important;line-height: 0;color: #7A0003;"><span class="glyphicon glyphicon-user"></span>
      <span class="logg_class" style="font-size: 1.2rem;" >{{ userName ? userName: '' }}</span>
      
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right dropdown">
        <div class="dropdown-content" *ngIf="userName">
          <!-- <a href="javascript:;" (click)="showProfileForm()">Mitt konto</a> -->
          <a href="javascript:;" (click)="logout()">Logga ut</a>
          </div>
      </ul>
    </div>

  </a>

    <a routerLink="merchants" class="pull-right" style="padding: 20px !important;line-height: 0;color: #7A0003;">
        <mat-icon matBadge="{{addedCart ? addedCart: ''}}" matBadgeColor="warn">add_shopping_cart</mat-icon>
    </a>
    <div class="collapse navbar-collapse" id="myNavbar">

      <ul class="nav navbar-nav navbar-right">

        <li></li>

        <li></li>

      </ul>

    </div>

  </div>

</nav>
<nav class="navbar navbar-cont navbar-fixed-top visible-xs nav-mob showScrolledHeader" *ngIf="currentRoute == '/home'">
    <div class="container-fluid nav-cont" style="padding: 0;">
    <div class="navbar-header">         
    <a class="navbar-brand" href="#"><img style="height: 22px;" src="./assets/images/w_logo.png"></a>           
    </div>
    
    <a href="javascript:;" [ngClass]="{ 'cta-open': !userName }" class="pull-left" style="padding: 20px !important;line-height: 0;color: #ffffff;"><span class="glyphicon glyphicon-user"></span> </a>
    <a routerLink="merchants" class="pull-right" style="padding: 20px !important;line-height: 0;">
      <mat-icon matBadge="{{addedCart ? addedCart: ''}}" matBadgeColor="warn">add_shopping_cart</mat-icon>
    </a>
    <div class="collapse navbar-collapse" id="myNavbar">
    <ul class="nav navbar-nav navbar-right">
    <li></li>
    <li></li>
    </ul>
    </div>
    </div>
  </nav>

  <section class="toggle-form loginform forgetpwdForms" *ngIf="enableProfileForm" style="padding: 0px !important">
      <div class="formwrap px-4 profileWrap">
        <div class="icon-close pos-a" (click)="hideRegisterForm()"><img class="close_img" src="./assets/images/59836.svg" style="
                  width: 18px; margin-left: 13px;"
            alt="Close Button"></div>
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-8">
            <p class="text-white mt-4 h3" style="margin-top: 10px">User Profile</p>
          </div>
        </div>
        <div class="" style="margin-top: 6px">
            <form [formGroup]="profileForm" class="login-form" (ngSubmit)="updateProfileForm()" role="form" data-toggle="validator">
              <div class="form-group">
                <label class="control-label col-sm-3" for="email">Förnamn:</label>
                <div class="col-sm-9">
                    <input type="text" formControlName="firstName" [(ngModel)]="firstName" id="firstname" name="phone" class="form-control" [ngClass]="{ 'is-invalid': profilesubmitted && profile_Form.firstName.errors }" 
                    required>
                    <div *ngIf="profilesubmitted && profile_Form.firstName.errors" class="invalid-feedback">
                      <div *ngIf="profile_Form.firstName.errors.required">Please enter a valid FirstName</div>
                    </div>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-3" for="email">Efternamn:</label>
                <div class="col-sm-9">
                  <input type="text" [(ngModel)]="lastName" formControlName="lastName" name="last_name" class="form-control" id="last_name" placeholder="Efternamn" required>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-3" for="email">Mailadress:</label>
                <div class="col-sm-9" style="padding-top: 10px">
                  {{email}}
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-3" for="email">Lösenord:</label>
                <div class="col-sm-9">
                  <input type="password" class="form-control" formControlName="password" [(ngModel)]="password" name="password" id="pwd" placeholder="Lösenord">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-3" for="email">Mobilnummer:</label>
                <div class="col-sm-9">
                  <input type="number" class="form-control" formControlName="mobileNumber" id="mobileNumber" name="mobileNumber" [(ngModel)]="mobileNumber" placeholder="Mobilnummer" [ngClass]="{ 'is-invalid': profilesubmitted && profile_Form.mobileNumber.errors }" required>
                </div>
                <div *ngIf="profilesubmitted && profile_Form.mobileNumber.errors" class="invalid-feedback">
                    <div *ngIf="profile_Form.mobileNumber.errors.required">Please enter a valid mobile number</div>
                  </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-3" for="email">Gata:</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" formControlName="address" [(ngModel)]="address" name="address" id="adress" placeholder="Adress" required>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-3" for="email">Lägenhetsnummer:</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" formControlName="apartment" [(ngModel)]="apartment" name="apartment" id="apartment" placeholder="Lägenhetsnummer">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-3" for="email">Våning:</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="floor" formControlName="floor" name="floor" [(ngModel)]="floor" placeholder="Våning">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-3" for="email">Postnummer:</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="zipcode" formControlName="zipcode" name="zipcode" [(ngModel)]="zipcode" placeholder="Postnummer" [ngClass]="{ 'is-invalid': profilesubmitted && profile_Form.zipcode.errors }" required>
                </div>
                <div *ngIf="profilesubmitted && profile_Form.zipcode.errors" class="invalid-feedback">
                    <div *ngIf="profile_Form.zipcode.errors.required">Please enter a valid Postnummer</div>
                  </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-3" for="email">portkod:</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="door" name="door" formControlName="door" [(ngModel)]="door" placeholder="portkod">
                </div>
              </div>
              <div *ngIf="profilesubmitted && profileerroMsg" class="invalid-feedback" >
                  <div >{{profileerroMsg}}</div>
              </div>
              <p class="margin-0" style="padding-top: 4px;"><button type="submit" class="btn btn-lg orange w-100 margin-top-s">Hämta lösenord</button></p>
            </form>
        </div>
      </div>
      <div class="toggle-bg"></div>
    </section>

<!-- Forget Form -->
<section class="toggle-form loginform forgetpwdForms" *ngIf="enableForgetForm" style="padding: 0px !important">
    <div class="formwrap px-4 forgetpwdForms">
      <div class="icon-close pos-a" (click)="hideRegisterForm()"><img class="close_img" src="./assets/images/59836.svg" style="
                width: 18px; margin-left: 13px;"
          alt="Close Button"></div>
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-8">
          <p class="text-white mt-4 h3">Glömt lösenord?</p>
          <span class="or_sing" (click)="openLoginForm()">eller</span><a (click)="showRegisterForm()" class="sing_up_tag cta-open1">skapa ett konto</a>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-4">
          <img class="side_img" src="./assets/images/Image-login_btpq7r.png" style="width: 76px; float: right;">
        </div>
      </div>
      <div class="from_class">
        <form [formGroup]="forgetsForm" class="login-form" (ngSubmit)="sendForgetForm()" role="form" data-toggle="validator">
          <div class="form-group" style="margin-bottom:10px;">
            <div class="phone_div">
                <input type="email" formControlName="email"  id="phone1" name="phone" class="form-control phone_num required" [ngClass]="{ 'is-invalid': submitted && (forgetForm.email.errors) }" data-error="Please enter a valid email"
                required>
              <div class="empty_div"></div>
              <label for="phone" class="phone_label control-label">E-post</label>
              <div *ngIf="forgetsubmitted && forgetForm.email.errors" class="invalid-feedback">
                  <div *ngIf="forgetForm.email.errors.required">Please enter a valid Email</div>
                  <div *ngIf="forgetForm.email.touched && forgetForm.email.dirty && forgetForm.email.invalid && forgetForm.email.errors.email">Email must be a valid email address</div>
              </div>
            </div>
          </div>
          <div *ngIf="forgetsubmitted && forgeterroMsg" class="invalid-feedback">
              <div >{{forgeterroMsg}}</div>
          </div>
          <p class="margin-0"><button type="submit" class="btn btn-lg orange w-100 margin-top-s">Hämta lösenord</button></p>
        </form>
      </div>
    </div>
    <div class="toggle-bg"></div>
  </section>

<section class="toggle-form loginform" *ngIf="loginform" style="padding: 0px !important">
  <div class="formwrap px-4">
    <div class="icon-close pos-a" (click)="hideLoginForm()"><img class="close_img" src="./assets/images/59836.svg" style="
              width: 18px; margin-left: 13px;"
        alt="Close Button"></div>
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-8">
        <p class="text-white mt-4 h3">{{ userName ? userName: 'Logga in' }}</p>
        <span class="or_sing">eller</span><a (click)="showRegisterForm()" class="sing_up_tag cta-open1">skapa ett konto</a>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-4">
        <img class="side_img" src="./assets/images/Image-login_btpq7r.png" style="width: 76px; float: right;">
      </div>
    </div>
    <div class="from_class">
      
      <form [formGroup]="LoginForm" class="login-form" (ngSubmit)="onLogin()" role="form" data-toggle="validator">
        <div class="form-group" style="margin-bottom:0px;">
          <div class="phone_div">
              <input type="email" formControlName="email"  id="phone1" name="phone" class="form-control phone_num required" [ngClass]="{ 'is-invalid': submitted && (login_Form.email.errors) }" data-error="Please enter a valid email"
              required>
            <div class="empty_div"></div>
            <label for="phone" class="phone_label control-label">E-post</label>
            <div *ngIf="loginsubmitted && login_Form.email.errors" class="invalid-feedback">
                <div *ngIf="login_Form.email.errors.required">Please enter a valid Email</div>
                <div *ngIf="login_Form.email.touched && login_Form.email.dirty && login_Form.email.invalid && login_Form.email.errors.email">Email must be a valid email address</div>
            </div>
          </div>
        </div>
        <div class="form-group" style="margin-bottom: 0px;">
          <div class="passwors_div">
            <input type="password" id="password2" formControlName="password" name="password" class="form-control phone_num required" [ngClass]="{ 'is-invalid': submitted && login_Form.password.errors }" data-error="Please enter a valid password"
              required>
            <div class="empty_div"></div>
            <label for="phone" class="phone_label control-label">Lösenord</label>
            <div *ngIf="loginsubmitted && login_Form.password.errors" class="invalid-feedback">
                <div *ngIf="login_Form.password.errors.required">Please enter a valid password</div>
            </div>
          </div>
        </div>
        <p class="text-center margin-top-s" style="visibility: hidden; margin-bottom: 0px;"><small>
            Genom att klicka på "Skicka" accepterar du <a href="/terms/">
              Användarvillkor</a>.</small>
        </p>
        <a href="javscript:;" class="cta-open3" (click)="openForgot()"> Glömt lösenord??</a>
        <div *ngIf="loginsubmitted && erroMsg" class="invalid-feedback">
            <div >{{erroMsg}}</div>
        </div>
        <p class="margin-0"><button type="submit" class="btn btn-lg orange w-100 margin-top-s">Logga in</button></p>
      </form>
    </div>
  </div>
  <div class="toggle-bg"></div>
</section>
<section class="toggle-form1 registerform" *ngIf="registerform"  style="padding: 0px !important">
  <div class="formwrap1 px-4">
    <div class="icon-close1 pos-a" (click)="hideRegisterForm()"><img src="./assets/images/59836.svg" style="
              width: 18px; margin-left: 13px;"
        alt="Close Button"></div>
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-6">
        <p class="text-white mt-4 h3">Bli Medlem</p>
        <span class="or_sing">or</span><a class="sing_up_tag cta-open" (click)="openLoginForm()">{{ userName ? userName: 'Logga in' }}</a>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-6">
        <img class="side_img" src="./assets/images/Image-login_btpq7r.png" style="width: 76px; float: right;">
      </div>
    </div>
    <div class="from_class">
      <form  [formGroup]="registerForm" (ngSubmit)="onSubmit()" role="form" data-toggle="validator">
        <div class="form-group" style="margin-bottom:0px;">
          <div class="phone_div">
            <input type="text" formControlName="firstName"  id="phone5" name="phone" class="form-control phone_num required" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" 
              required>
            <div class="empty_div"></div>
              <label for="phone" class="phone_label control-label">Förnamn</label>
              <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                <div *ngIf="f.firstName.errors.required">Please enter a valid FirstName</div>
            </div>
          </div>
        </div>
        <div class="form-group" style="margin-bottom:0px;">
          <div class="phone_div">
            <input type="text" formControlName="lastName"  id="phone2" name="phone" class="form-control phone_num required" 
              required>
            <div class="empty_div"></div>
            <label for="phone" class="phone_label control-label">Efternamn</label>
          </div>
        </div>
        <div class="form-group" style="margin-bottom:0px;">
          <div class="passwors_div">
              <input type="number" formControlName="mobileNumber"  id="phone3" name="mobileNumber" class="form-control phone_num required" [ngClass]="{ 'is-invalid': submitted && f.mobileNumber.errors }"
              required>
            <div class="empty_div"></div>
            <label for="phone" class="phone_label control-label">
              Mobilnummer</label>
              <div *ngIf="submitted && f.mobileNumber.errors" class="invalid-feedback">
                <div *ngIf="f.mobileNumber.errors.required">Please enter a valid phone number</div>
            </div>
          </div>
        </div>
        <div class="form-group" style="margin-bottom:0px;">
          <div class="passwors_div">
              <input type="email" formControlName="email"  id="phone4" name="email" class="form-control phone_num required" [ngClass]="{ 'is-invalid': submitted && (f.email.errors) }" data-error="Please enter a valid email"
              required>
            <div class="empty_div"></div>
            <label for="phone" class="phone_label control-label">Mailadress</label>
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Please enter a valid Email</div>
                <div *ngIf="f.email.touched && f.email.dirty && f.email.invalid && f.email.errors.email">Email must be a valid email address</div>
            </div>
          </div>
        </div>
        <div class="form-group" style="margin-bottom:0px;">
          <div class="passwors_div">
            <input type="password" id="password1" formControlName="password" name="password" class="form-control phone_num required" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" data-error="Please enter a valid password"
              required>
            <div class="empty_div"></div>
            <label for="phone" class="phone_label control-label">Lösenord</label>
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Please enter a valid password</div>
            </div>
          </div>
        </div>
        <div *ngIf="submitted && regerroMsg" class="invalid-feedback">
            <div >{{regerroMsg}}</div>
        </div>
        <!-- <div class="referral_div">
          <a class="have_referral">
            Har en hänvisningskod?</a>
        </div> -->
        <p class="margin-0"><button type="submit" class="btn btn-lg orange w-100 margin-top-s">FORTSÄTTA</button></p>
        <p class="text-center margin-top-s"><small class="small_class">Genom att klicka på "Skicka" accepterar du
            <a class="contison_a" href="#">Användarvillkor</a>.</small>
        </p>
      </form>
    </div>
  </div>
  <div class="toggle-bg1"></div>
</section>
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content" style="width: 400px;   height: 339px; border-radius: 13px !important;">
      <div class="modal-header" style="text-align: center;text-transform: uppercase;  border-bottom: 1px solid #ebebeb;    padding: 0 15px 8px;   font-weight: 700; margin-top: 13px;">
        <button type="button" class="close" data-dismiss="modal" style="
                  position: relative;     top: -9px;     background-color: #780300;
                  opacity: unset !important;
                  padding: 6px 11px;
                  color: #ffffff;
                  border: 1px solid #fffdfd;
                  border-radius: 50px;">&times;</button>
        <h4 class="modal-title">Välj din plats</h4>
      </div>
      <div class="modal-body">
        <div class="col-md-6 col-sm-6 col-xs-6 left_img_div" style="    text-align: right;">
          <img src="./assets/images/icon.png">
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6 right_cont_div">
          <span class="today_span">Dagens lunch!</span>
          <span class="deliver_work_span" style="font-size: 13px !important;">Leverans vid ditt arbete</span>
        </div>
        <input placeholder="Välj din plats" type="text" name="city" list="cityname" style="width: 100%;    border: 1px solid #780300;    border-radius: 5px;     margin-top: 15px;">
        <datalist id="cityname">
          <option value="Västerås">
          <option value="Eskilstuna">
        </datalist>
        <button type="button" style="float: right;margin-top: 16px;background-color: #780300;
                  color: #ffffff;border: 1px solid #780300;padding: 10px 15px;border-radius: 5px;">lämna</button>
      </div>
    </div>
  </div>
</div>
