
<div _ngcontent-c7="" class="container_fluid fluid-bg allresturants" style="display:block;">
    <section>
        <div class="main_content">
          <h2 class="head-title">Restauranger {{cityName}}</h2>
            <h3 class="head-title"*ngFor="let product of restaurantsName let i=index;">
              <a routerLink="" (click)="goRestaurentDetail(product.merchant_id, product.image, product.resto_cuisine1, product.restaurant_name, product.rating_value, product.resto_sta)">{{product.restaurant_name}}</a>
            </h3>
        </div>
    </section>
</div>