
<div class="new_hole_div">
    <div class="container_fluid container_new_hole_div">
      
      <section class="cSection cSectionSearch">
        <div class="container cNoContainerpadding">
          <h1 class="hungry_load_h1">Hungrig?</h1>
          <p class="hungry_load_p">Beställ mat från favoritrestauranger i närheten av dig.</p>
          <div class="cSearchWrapper">
            <form [formGroup]="cSearchForm" (ngSubmit)="onSearch()"  id="search_form" class="cSearchForm">
              <div class="cSearchInputWrapper">
                <div class="cSearchInputBox">
                  <input type="text" #input_geo_location placeholder=""  formControlName="search_address" class="cSearchInput cGeoLocationInput"
                    autocomplete="off" value="">
                  <input type="hidden" value="" name="address"> 
                  <!-- formControlName="search_address_city"> -->
                  <label class="cSearchTextPlaceholder">Ange ditt postnummer</label>
                  <span class="cGeoLocator cTriggerGeoLocation" (click)="onGeoloc()" data-state="">
                    <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewBox="0 0 23 23">
                      <g fill="none" fill-rule="evenodd">
                        <path stroke="#7A0003" d="M11.5 22.5v-2.986l.471-.028a8.001 8.001 0 0 0 7.515-7.515l.028-.471H22.5h-2.986l-.028-.471a8.001 8.001 0 0 0-7.515-7.515l-.471-.028V.5v2.986l-.471.028a8.001 8.001 0 0 0-7.515 7.515l-.028.471H.5h2.986l.028.471a8.001 8.001 0 0 0 7.515 7.515l.471.028V22.5z"></path>
                        <circle cx="11.5" cy="11.5" r="4" stroke="#7A0003"></circle>
                        <circle cx="11.5" cy="11.5" r="1" fill="#7A0003"></circle>
                      </g>
                    </svg>
                  </span>
                </div>
                <div class="cSearchBtnWrap">
                  <button type="submit" class="cSubmitSearch">Hitta restauranger</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </section>
    </div>
  </div>
  <div class="container-fluid backgroun_bg">
  <div class="container padding_botm_class">
    <div class="col-md-4 col-sm-4 left_img_section">
      <div class="img-section">
        <img src="./assets/images/select-restaurant.png">
      </div>
      <div class="cont_div">
        <p class="cont_head">Välj en restaurang</p>
      </div>
    </div>
    <div class="col-md-4 col-sm-4 center_img_section">
      <div class="img-section">
        <img src="./assets/images/choose-meal.png">
      </div>
      <div class="cont_div">
        <p class="cont_head"> Beställ och betala</p>
      </div>
    </div>
    <div class="col-md-4 col-sm-4 right_img_section">
      <div class="img-section">
        <img src="./assets/images/deliver.png">
      </div>
      <div class="cont_div">
        <p class="cont_head"> Klart, maten är på väg</p>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="col-md-6 col-sm-6 left_cont_div" style="margin-bottom: 46px;">
    <div class="Restaurants_div">
      <h1 class="res_pocket_h1">Restauranger i <br>din ficka</h1>
      <p class="p_order">Beställ från dina favoritrestauranger och spåra på språng, med den helt nya Hemkort &
        Klart.se appen.</p>
      <div class="app_btn">
        <div class="col-md-4 col-sm-6 right_img">
          <a href="#"><img class="img-responsive img_xs_res" src="./assets/images/app_store_btn.png"></a>
        </div>
        <div class="col-md-4 col-sm-6 left_img">
          <a href="#"><img class="img-responsive img_xs_res" src="./assets/images/google_play_btn.png"></a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-sm-6 right_img_div">
    <div class="col-md-12 col-sm-12" style="text-align: center;margin-top: 37px;margin-bottom: 35px;">
      <img src="./assets/images/IPhone 7.png" class="img-responsive center-block">
    </div>
  </div>
</div>
<div class="container-fluid backgroun_bg_area" style="padding:30px 15px;">
<div class="container" style="border-bottom: 1px solid #fff;padding: 0;">
  <ul class="nav nav-tabs add_nav_cont">
    <li class="active"><a data-toggle="tab" href="#home">Västerås</a></li>
    <li><a data-toggle="tab" href="#menu1">Eskilstuna</a></li>
  </ul>
</div>
<div class="container">
  <div class="tab-content" style="margin-top: 25px;">
    <div id="home" class="tab-pane fade in active">
      <span class="area_span">
        <a class="location_a" routerLink="#">Subway</a><span class="dot_class">.</span>
        <a class="location_a" routerLink="#">Melkis</a><span class="dot_class">.</span>
        <a class="location_a" routerLink="#">Soya sushi</a><span class="dot_class">.</span>
        <a class="location_a" routerLink="#">Pizzeria Sippan</a><span class="dot_class">.</span>
        <a class="location_a" routerLink="#">American pizza palace</a><span class="dot_class">.</span>
        <a class="location_a" routerLink="#">Taco Bar</a><span class="dot_class">.</span>
        <a class="location_a" routerLink="#">Hdmona restaurang</a><span class="dot_class">.</span>
        <a class="location_a" routerLink="#">Erikslunds grill</a><span class="dot_class">.</span>
        <a class="location_a" routerLink="#">Sturegatans pizzeria</a><span class="dot_class">.</span>
        <a class="location_a" routerLink="#">Gideonsbergs Kiosk</a><span class="dot_class">.</span>
        <a class="location_a" routerLink="#">Garlic &amp; Ginger</a><span class="dot_class">.</span>
        <a class="location_a" routerLink="#">Asia House</a><span class="dot_class">.</span>
        <a class="location_a" routerLink="#">Uddens Pizzeria</a><span class="dot_class">.</span>
        <a class="location_a" routerLink="#">Great Burger</a><span class="dot_class">.</span>
        <a class="location_a" routerLink="#">Casablanca kolgrillsbar</a><span class="dot_class">.</span>
        <a class="location_a" routerLink="#">Ceders libanesiska kök</a><span class="dot_class">.</span>
        <a class="location_a" routerLink="#">Laxmi Indisk</a><span class="dot_class">.</span>
        <a class="location_a" routerLink="#">Taormina restaurang</a><span class="dot_class">.</span>
        <a class="location_a" routerLink="#">Didos krog</a><span class="dot_class">.</span>
        <a class="location_a" routerLink="#">Nya Emilios pizzeria</a><span class="dot_class">.</span>
        <a class="location_a" routerLink="#">Cornetto Bar</a><span class="dot_class">.</span>
        <a class="location_a" routerLink="#">Sushi Heaven</a><span class="dot_class">.</span>
        <a class="location_a" routerLink="#">Pulcinella Vedugn pizza</a><span class="dot_class">.</span>
        <a class="location_a" routerLink="#">Humlans Pizzeria</a><span class="dot_class">.</span>
        <a class="location_a" routerLink="#">Mexico Pizzeria</a><span class="dot_class">.</span>
        <a class="location_a" routerLink="#">Jojo's pizzeria</a><span class="dot_class">.</span>
      </span>
    </div>
    <div id="menu1" class="tab-pane fade">
      <span class="area_span">
        <a class="location_a" routerLink="#">Fresh food</a><span class="dot_class">.</span>
        <a class="location_a" routerLink="#">Maestro</a><span class="dot_class">.</span>
        <a class="location_a" routerLink="#">Spicy hot</a><span class="dot_class">.</span>
        <a class="location_a" routerLink="#">Kin Kitchen</a><span class="dot_class">.</span>
        <a class="location_a" routerLink="#">American pizza palace</a><span class="dot_class">.</span>
        <a class="location_a" routerLink="#">carlavagens-pizzeria</a><span class="dot_class">.</span>
        <a class="location_a" routerLink="#">Hdmona restaurang</a><span class="dot_class">.</span>
        <a class="location_a" routerLink="#">La-luna-pizzeria</a><span class="dot_class">.</span>
        <a class="location_a" routerLink="#">Casa-nostra</a><span class="dot_class">.</span>
        <a class="location_a" routerLink="#">Sushi-yang</a><span class="dot_class">.</span>
        <a class="location_a" routerLink="#">Taco-bar</a><span class="dot_class">.</span>
        <a class="location_a" routerLink="#">Spice-n-rice</a><span class="dot_class">.</span>
        <a class="location_a" routerLink="#">Banh-mi-street-food</a><span class="dot_class">.</span>
        <a class="location_a" routerLink="#">Lökens-City</a><span class="dot_class">.</span>
      </span>
    </div>
  </div>
</div>
</div>
<ng4-loading-spinner> </ng4-loading-spinner>
