 <app-header></app-header>
 <div class="container-fluid backgroun_bg">
  <div class="container padding_botm_class">
    <div class="col-md-4 col-sm-4 left_img_section">
      <div class="img-section">
        <img src="../../../assets/images/select-restaurant.png">
      </div>
      <div class="cont_div">
        <p class="cont_head">Välj en restaurang</p>
      </div>
    </div>
    <div class="col-md-4 col-sm-4 center_img_section">
      <div class="img-section">
        <img src="../../../assets/images/choose-meal.png">
      </div>
      <div class="cont_div">
        <p class="cont_head"> Beställ och betala</p>
      </div>
    </div>
    <div class="col-md-4 col-sm-4 right_img_section">
      <div class="img-section">
        <img src="../../../assets/images/deliver.png">
      </div>
      <div class="cont_div">
        <p class="cont_head"> Klart, maten är på väg</p>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="col-md-6 col-sm-6 left_cont_div" style="margin-bottom: 46px;">
    <div class="Restaurants_div">
      <h1 class="res_pocket_h1">Restauranger i <br>din ficka</h1>
      <p class="p_order">Beställ från dina favoritrestauranger och spåra på språng, med den helt nya Hemkort &
        Klart.se appen.</p>
      <div class="app_btn">
        <div class="col-md-4 col-sm-6 right_img">
          <a href="#"><img class="img-responsive img_xs_res" src="../../../assets/images/app_store_btn.png"></a>
        </div>
        <div class="col-md-4 col-sm-6 left_img">
          <a href="#"><img class="img-responsive img_xs_res" src="../../../assets/images/google_play_btn.png"></a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-sm-6 right_img_div">
    <div class="col-md-12 col-sm-12" style="text-align: center;margin-top: 37px;margin-bottom: 35px;">
      <img src="../../../assets/images/IPhone 7.png" class="img-responsive center-block">
    </div>
  </div>
</div>
<div class="container-fluid backgroun_bg_area" style="padding:30px 15px;">
<div class="container" style="border-bottom: 1px solid #fff;padding: 0;">
  <ul class="nav nav-tabs add_nav_cont">
    <li class="active"><a data-toggle="tab" href="#home">Västerås</a></li>
    <li><a data-toggle="tab" href="#menu1">Eskilstuna</a></li>
  </ul>
</div>
<div class="container">
  <div class="tab-content" style="margin-top: 25px;">
    <div id="home" class="tab-pane fade in active">
      <span class="area_span">
        <a class="location_a" routerLink="#">Subway</a><span class="dot_class">.</span>
        <a class="location_a" routerLink="#">Melkis</a><span class="dot_class">.</span>
        <a class="location_a" routerLink="#">Soya sushi</a><span class="dot_class">.</span>
        <a class="location_a" routerLink="#">Pizzeria Sippan</a><span class="dot_class">.</span>
        <a class="location_a" routerLink="#">American pizza palace</a><span class="dot_class">.</span>
        <a class="location_a" routerLink="#">Taco Bar</a><span class="dot_class">.</span>
        <a class="location_a" routerLink="#">Hdmona restaurang</a><span class="dot_class">.</span>
        <a class="location_a" routerLink="#">Erikslunds grill</a><span class="dot_class">.</span>
        <a class="location_a" routerLink="#">Sturegatans pizzeria</a><span class="dot_class">.</span>
        <a class="location_a" routerLink="#">Gideonsbergs Kiosk</a><span class="dot_class">.</span>
        <a class="location_a" routerLink="#">Garlic &amp; Ginger</a><span class="dot_class">.</span>
        <a class="location_a" routerLink="#">Asia House</a><span class="dot_class">.</span>
        <a class="location_a" routerLink="#">Uddens Pizzeria</a><span class="dot_class">.</span>
        <a class="location_a" routerLink="#">Great Burger</a><span class="dot_class">.</span>
        <a class="location_a" routerLink="#">Casablanca kolgrillsbar</a><span class="dot_class">.</span>
        <a class="location_a" routerLink="#">Ceders libanesiska kök</a><span class="dot_class">.</span>
        <a class="location_a" routerLink="#">Laxmi Indisk</a><span class="dot_class">.</span>
        <a class="location_a" routerLink="#">Taormina restaurang</a><span class="dot_class">.</span>
        <a class="location_a" routerLink="#">Didos krog</a><span class="dot_class">.</span>
        <a class="location_a" routerLink="#">Nya Emilios pizzeria</a><span class="dot_class">.</span>
        <a class="location_a" routerLink="#">Cornetto Bar</a><span class="dot_class">.</span>
        <a class="location_a" routerLink="#">Sushi Heaven</a><span class="dot_class">.</span>
        <a class="location_a" routerLink="#">Pulcinella Vedugn pizza</a><span class="dot_class">.</span>
        <a class="location_a" routerLink="#">Humlans Pizzeria</a><span class="dot_class">.</span>
        <a class="location_a" routerLink="#">Mexico Pizzeria</a><span class="dot_class">.</span>
        <a class="location_a" routerLink="#">Jojo's pizzeria</a><span class="dot_class">.</span>
      </span>
    </div>
    <div id="menu1" class="tab-pane fade">
      <span class="area_span">
        <a class="location_a" routerLink="#">Fresh food</a><span class="dot_class">.</span>
        <a class="location_a" routerLink="#">Maestro</a><span class="dot_class">.</span>
        <a class="location_a" routerLink="#">Spicy hot</a><span class="dot_class">.</span>
        <a class="location_a" routerLink="#">Kin Kitchen</a><span class="dot_class">.</span>
        <a class="location_a" routerLink="#">American pizza palace</a><span class="dot_class">.</span>
        <a class="location_a" routerLink="#">carlavagens-pizzeria</a><span class="dot_class">.</span>
        <a class="location_a" routerLink="#">Hdmona restaurang</a><span class="dot_class">.</span>
        <a class="location_a" routerLink="#">La-luna-pizzeria</a><span class="dot_class">.</span>
        <a class="location_a" routerLink="#">Casa-nostra</a><span class="dot_class">.</span>
        <a class="location_a" routerLink="#">Sushi-yang</a><span class="dot_class">.</span>
        <a class="location_a" routerLink="#">Taco-bar</a><span class="dot_class">.</span>
        <a class="location_a" routerLink="#">Spice-n-rice</a><span class="dot_class">.</span>
        <a class="location_a" routerLink="#">Banh-mi-street-food</a><span class="dot_class">.</span>
        <a class="location_a" routerLink="#">Lökens-City</a><span class="dot_class">.</span>
      </span>
    </div>
  </div>
</div>
</div>
<ng4-loading-spinner> </ng4-loading-spinner>
<app-footer></app-footer>
<router-outlet></router-outlet>
