<div class="container-fluid banner_setion_pl" style="padding: 0px">
  <div class="" id="header_parent">
     <div class="_8MlDE _1qF_3">
        <div class="_3TBoD _32T6U">
           <div class="_3mJdF">
              <div class="H5I6J _2jfqu"><img class="_2tuBw _12_oN _3sCWI _12LfL img-resposive" src="{{api_url}}{{productImage}}" alt=""></div>
           </div>
           <div class="_2Fixt _1uH8g">
              <div class="_1WDSQ">
                 <div class="U-jcg">
                    <div class="OEfxz">
                       <h1 title="Bismi hotel" class="_3aqeL _3YHmy">{{restaurant_name}}</h1>
                    </div>
                 </div>
                 <div class="_2cMZ_ _1B60w"><span class="_20F32"><span><span class="icon-star _2n5YQ"></span>4.0</span></span><span class="_20F32"><span class="_27qo_">36 MINS</span></span><span class="_20F32"><span>₹ 250</span> for two</span>
                 </div>
                 <div class="_1BpLF _1oxxe">
                    <div class="Gf2NS _2Y6HW">
                       <span class="open_btn" [ngClass]="isClosed === 'Öppet' ? 'greenColor' : 'redColor'" style="top: 54px !important;"></span>
                       <span class="status_res">{{isClosed}}</span>
                       <div class="kk" style="float: right;   margin-left: 55px;">
                          <span class="stars">
                           <span class="fa fa-star checked"></span>
                           <span class="fa fa-star checked"></span>
                           <span class="fa fa-star checked"></span>
                           <span class="fa fa-star checked"></span>
                           <span class="fa fa-star checked"></span>
                          </span>
                          <span class="green_bg" style="padding:8px !important;background: #6dad30 !important;
                             color: #ffffff !important;border-radius: 5px !important;margin-left: 11px;">
                          {{rating_value|slice:6:11}}
                          </span>
                       </div>
                    </div>
                    <div class="_3Plw0 JMACF">{{availableTypes}}</div>
                 </div>
              </div>
           </div>
           <!-- <div class="Z4sK8 undefined" style="display: none;">
              <div class="_2FyFZ _2Hcgb" style="margin-top: 36px;">
                 <div class="vendor-info-main-info-button hidden-xs" >
                    <button type="button" class="check_btn_class" id="myBtn1" (click)="showReviewModel()" style="
                    width: 58% !important;padding: 8px;background-color: #780300 !important;
                    border: 1px solid #780300;color: #ffffff;font-size: 15px;  font-weight: 500;
                    border-radius: 5px;">
                    Skriv en recension
                    <i class="fa fa-chevron-right" aria-hidden="true" style="margin-left: 10px;"></i>
                    </button>
                 </div>                        
              </div>
           </div> -->
        </div>
     </div>
  </div>
  <div class="hidden-lg hidden-md banner_image" style="background-color: rgba(11, 10, 10, 0.5);">
     <div class="res_log_div">
        <img src="{{api_url}}{{productImage}}" width="254" height="165">
     </div>
     <div class="res_details_div" style="text-align: center;">
        <div class="res_name_div">
           <h1 class="h1_res_name">{{restaurant_name}}</h1>
        </div>
        <div class="res_open_rev_div">
           <div class="res-open_div">
              <span class="open_btn" [ngClass]="isClosed === 'Öppet' ? 'greenColor' : 'redColor'" style="left: auto;top: inherit;bottom: auto;"></span>
              <span class="status_res">{{isClosed}}</span>                                 
           </div>
           <div class="res_review_div">
            <span class="stars">
               <span class="fa fa-star checked"></span>
               <span class="fa fa-star checked"></span>
               <span class="fa fa-star checked"></span>
               <span class="fa fa-star checked"></span>
               <span class="fa fa-star checked"></span>
              </span>
              <span class="green_bg" style="padding: 6px !important;background: #6dad30 !important;
                 color: #ffffff !important;border-radius: 5px !important;margin-left: 11px;">
              <span class="rating">{{rating_value|slice:6:11}}</span>
              <!-- <span class="count" data-count="111 Betyg">
              111 Betyg
              </span> -->
              </span>        
           </div>
        </div>
        <div class="res_food_details_div">
           <p class="food_list_p">{{availableTypes}}</p>
        </div>
        <div class="res_revie_write_div" style="display: none;">
           <div class="vendor-info-main-info-button ">
              <button type="button" class="check_btn_class" id="myBtn1" style="
              width: auto !important;padding: 8px;background-color: #780300 !important;
              border: 1px solid #780300;color: #ffffff;font-size: 15px;  font-weight: 500;
              border-radius: 5px; ">
              Skriv en recension
              <i class="fa fa-chevron-right" aria-hidden="true" style="margin-left: 10px;"></i>
              </button>
           </div>
        </div>
     </div>
  </div>
</div>
<div class="container-fluid fluid-bg fluid-bg-tab restaruentTabs">
  <div class="container wrapper">
     <div class="col-md-8 bg-marg-30" style="margin: 45px auto 30px;">
        <section class="vendor-section">
           <div class="menu__blocks-wrapper">
              <div class="menu__blocks">
                 <nav class="dish-menu-category-list touch" style="top: 6px;">
                    <div class="dish-control-holder">
                       <div class="nav-holder">
                          <ul style="touch-action: pan-y; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                             <li class="li_active active"><a class="border_bottom_class" data-toggle="tab" href="#home">meny</a></li>
                             <li><a class="border_bottom_class" data-toggle="tab" href="#menu1">Recensioner</a></li>                                              
                          </ul>
                          <ul>
                          </ul>
                       </div>
                       
                       <div class="info_sec" (click)="openInfo()"><span class="glyphicon">&#xe086;</span></div>
                       <button class="nav-scroller prev hide">
                          <svg width="12" height="14" xmlns="http://www.w3.org/2000/svg">
                             <path class="svg-stroke-container" stroke-linejoin="round" stroke-linecap="round" fill-rule="evenodd" fill="none" stroke="#D70F64" d="m3.5,1.5l5,5.5l-5,5.5"></path>
                          </svg>
                       </button>
                       <button class="nav-scroller next hide">
                          <svg width="12" height="14" xmlns="http://www.w3.org/2000/svg">
                             <path class="svg-stroke-container" stroke-linejoin="round" stroke-linecap="round" fill-rule="evenodd" fill="none" stroke="#D70F64" d="m3.5,1.5l5,5.5l-5,5.5"></path>
                          </svg>
                       </button>
                    </div>
                 </nav>
                 <div class="tab-content">
                    <div id="home" class="tab-pane fade in active">
                       <div class="menu__list">
                          <section class="menu__items-wrapper">
                             <div class="menu__items">
                                <div class="container-fluid">
                                   <div class="drop_down_category">
                                      <div class="dropdown">
                                         <button class="btn drop_btn dropdown-toggle" type="button" data-toggle="dropdown">Kategorier <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                         </button>
                                         <ul class="dropdown-menu" style="position: absolute;left: -30px">
                                            <li *ngFor="let details of restaurentsDetails let i=index;">
                                               <a href="javascript:;" (click)="gotoTop('menucategoryid'+i)" data-id="menu__category-id-{{i}}" data-master-category-id="" data-anchor-nav="" class="selected">
                                               {{details.category_name}}           
                                               </a>
                                            </li>
                                         </ul>
                                      </div>
                                   </div>
                                </div>
                                 <div *ngFor="let details of restaurentsDetails let i=index;">
                                    <div class="dish-category-header" id="menucategoryid{{i}}" >
                                             <div class="dish-category-title-wrapper">
                                                   <h2 class="dish-category-title">{{details.category_name}}</h2>
                                             </div>
                                       </div>
                                    <div class="dish-list" >
                                       <div >
                                          <div class="dish-card h-product menu__item" *ngFor="let items of details.item" data-object="" data-menu-category="Cevapi" data-variation-id="81062" data-product-id="81011" ontouchstart="">
                                                <span class="item-react-root">
                                                   <div class="dish-info">
                                                         <h3 class="dish-name fn p-name">
                                                            <span>{{items.item_name}}</span>
                                                         </h3>
                                                         <p class="dish-description e-description ingredients">
                                                            {{items.item_description}}
                                                         </p>
                                                   </div>
                                                </span>
                                                <!-- <li  *ngFor="let prices of items.prices"> -->
                                                      <footer class="action-bar" >
                                                            <span class="price p-price">
                                                               {{items.prices[0].price}} Kr
                                                            </span>
                                                            <button class="button js-ripple" (click)="addToCart(items.item_index, items.item_id,items.prices[0], 'add', '', 1,'', details.ownpizza, details.submenu)">Add<i class="ripple"></i></button>
                                                         </footer>
                                                <!-- </li> -->
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                          </section>
                       </div>
							</div>
										<!-- Reviews panel -->
                    <div id="menu1" class="tab-pane fade">
                       <div class="menu__list">
                          <section class="menu__items-wrapper">
                             <div class="menu__items">
                                <div class="container">
                                   <div class="review_hole_div">                                       
                                      <div class="review-component hreview" *ngFor="let reviews of allReviews let i=index;">
                                         <div class="reviewer vcard">
                                            <span class="user_logo_div">
                                            <i class="fa fa-user" aria-hidden="true"></i>
                                            </span><span class="fn">{{reviews.client_name}}<br><abbr class="review-date dtreviewed" title="2018-11-19">
																								{{reviews.date}}
                                            </abbr></span>
                                         </div>
                                         <div class="vendor-name vcard item">
                                            <span class="fn">Mr Falafel</span>
                                         </div>
                                         <div class="description">
                                            {{reviews.review}}
                                         </div>
                                         <div class="ratings-component " style="background: #f7f7f7 !important;">
                                            <span class="stars">
                                            <img alt="" src="https://assets.foodora.com/7489233/img/icons/ic-star-half.svg?7489233">
                                            </span>
                                            <span class="rating">{{reviews.rating}}</span>
                                         </div>
                                      </div>
                                   </div>
                                </div>
                             </div>
                          </section>
                       </div>
                    </div>
                 </div>
                 <!-- <div class="modal fade" id="myModal" role="dialog">
                     <div class="modal-dialog">
                        <div class="modal-content" style="width: 400px;   height: 339px;">
                           <div class="modal-header" style="text-align: center;text-transform: uppercase;  border-bottom: 1px solid #ebebeb;    padding: 0 15px 8px;   font-weight: 700; margin-top: 13px;">
                              <button type="button" class="close" data-dismiss="modal" style="position: relative;
                                 top: -38px;
                                 background-color: #780300;
                                 opacity: unset !important;
                                 padding: 6px 11px;
                                 color: #ffffff;
                                 border: 1px solid #fffdfd;
                                 border-radius: 50px;">&times;</button>
                              <h4 class="modal-title">Pre-order for Monday</h4>
                           </div>
                           <div class="modal-body" style="text-align: center;
                              font-size: 15px;
                              letter-spacing: 2px;
                              text-shadow: 2px 2px 11px red;">
                              <p>You are placing a pre-order for Mon, Dec 24,  6:00 PM. Would you like to continue or review the order date?</p>
                           </div>
                           <div class="modal-footer1" style="border-top: 1px solid #ebe7e7; padding: 15px;">
                              <button type="button" class="check_btn_class1">Continue with checkout</button>
                              <button type="button" class="check_btn_class2" data-dismiss="modal">Add more items</button>
                           </div>
                        </div>
                     </div>
                  </div> -->
                 <div class="menu__bottom-info">
                    <div class="menu__footer">
                       <div class="menu-bottom-info-restaurant-description full-container">
                       </div>
                       <div id="order-details-react-root" class="full-container">
                          <p class="restaurant-contact-information">Do you have questions about allergens and ingredients?<a href="tel:+46762205884" class="restaurant-contact-link" data-number="+46762205884">Contact the restaurant</a>.</p>
                       </div>
                       <div class="footer_div_iner">
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </section>
     </div>
     <!-- <div id="sticky-anchor"></div> -->
     <div class="col-md-4 bg-marg-30" style="margin: 45px auto 30px;">
         <section class="cart_section">
            <div id="sticky" style="top: 155px;">
               <div>
                  <div class="slide_head_order">
                     <p class="your-order">Din beställning <span *ngIf="!emptyCarts" class="pull-right clearcart" (click)="clearCart()"><i class="fa fa-trash"></i></span></p>
                  </div>                                    
                  <div  class="static-height" *ngIf="!emptyCarts">
                     <div class="col-sm-12 col-md-12 padd-zero" style="margin: 5px auto;" *ngFor="let cartData of listCart let i=index;">
                        <div class="col-sm-5 col-md-5 product_name">{{cartData.item_name}} {{itemType(cartData.size_words)}}</div>
                        <div class="col-sm-3 col-md-3 dev-inc-val-div">
                           <span class="value-button" id="decrease-btn" (click)="decreaseValue(cartData.item_id, cartData.qty,cartData.discounted_price, cartData.item_index, cartData)" value="Decrease Value">
                              <i class="fa fa-minus" aria-hidden="true"></i>
                           </span>
                           <span>
                              <input type="text" id="number-btn" (keypress)="omit_special_char($event)" value="{{cartData.qty}}">
                           </span>
                           <span class="value-button" id="increase-btn" (click)="increaseValue(cartData.item_id, cartData.qty,cartData.discounted_price, cartData.item_index, cartData)" value="Increase Value">
                              <i class="fa fa-plus" aria-hidden="true"></i>
                           </span>
                        </div>
                        <div class="col-sm-4 col-md-4 sub_total_amt">
                           <span class="pull-right distance">{{cartData.addOnPrice ? cartData.addOnPrice : cartData.qty * cartData.discounted_price}}
                              <a href="javascript:;" class="btn btn" (click)="updateToCart(cartData.item_index, cartData.item_id, cartData.addOnPrice, 'edit', cartData.sub_item, cartData.qty, cartData.size_words)" style="color: #7B0003;padding: 0;margin: 0 5px;font-size: 13px;">
                                 <i class="fa fa-edit"></i>
                              </a>&nbsp;
                              <a href="javascript:;" (click)="deleteCart(cartData.item_index)" class="btn" style="color: #7B0003;padding: 0;font-size: 13px;">
                                 <i class="fa fa-trash"></i>
                              </a>
                           </span>
                        </div>
                        <div class="col-sm-12"><span class="addonItems"> {{cartData.addOnItems}}</span></div>
                     </div>
                  </div>
                  <div class="emptyCart" *ngIf="emptyCarts">
                     Ingen artikel tillagd ännu.
                  </div>
                  <HR style="border-top: 2px solid #2B2B3F;margin: 10px auto 0;clear: both;margin-right: 10px;">
                  <div class="total_div" *ngIf="!emptyCarts">
                     <span class="to_pay">Summa</span><span class="to_pay_amt">{{totalAmt.subtotal | round}}{{totalAmt.curr}}</span>
                  </div>

                  <div class="voucher_wrap" style="display: block;" *ngIf="!emptyCarts">                      
                     <input placeholder="Ange Kampanjkod här" [(ngModel)]="voucherCode" class="uk-width-1-1" style="" type="text" value="" name="voucher_code" id="voucher_code">
                     <a href="javascript:;" (click)="applyVoucher()" class="uk-button uk-button-danger apply_voucher ">
                        <i class="fa fa-angle-right"></i>        
                     </a>            
                  </div>
                  <div class="bill-cont">
                     <p>Hemkörningsvillkor</p>
                     <span>Ditt postnummer : <strong>{{postalCode}}</strong><br>
                        ÖPPNAR INOM KORT FÖR HEMKÖRNING.<br>
                        {{terms}}
                     </span>
                     <p>Leveranssätt</p>
                     <mat-form-field>
                        <mat-select [(ngModel)]="selectedOption">
                           <mat-option value="delivery" (click)="setDelievery('delivery')">Hemkörning</mat-option>
                           <mat-option value="pickup" (click)="setDelievery('pickup')">Avhämtning</mat-option>
                        </mat-select>
                     </mat-form-field>
                  </div>
               </div>
               <div class="checkoutBtn_hold" id="checkoutBtn" *ngIf="isClosed === 'Öppet'">
                  <a routerLink="" (click)="goToCheckout()" class="btn-checkout btn-block" *ngIf="!emptyCarts">Till kassan</a>
               </div>
               <div class="warningBtn" id="checkoutBtn" *ngIf="isClosed !== 'Öppet'">
                  <img src="../../../assets/images/warning.png">Tyvärr, restaurangen har stängt
               </div>
               
            </div>
         </section>
     </div> 
  </div>
</div>
<!-- <div id="myModal12" class="modal fade" role="dialog">
      <div class="modal-dialog  rich-description">
            <button type="button" class="close modal-close" data-dismiss="modal" >&times;</button>
            <div class="container">
                <div class="box-cont" style="">
                  <div class="img-sec-div">
                    <img src="{{api_url}}{{productImage}}" style="">
                    <div class="res-name-div-2 " style="position: relative; top: -50px;">
                          <p class="produ-list-p">
                             <span class="list-span">
                                {{availableTypes}}
                             </span>
                          </p>
                       </div>
                  </div>
                </div>
              </div>
               <div class="container">
                <div class="col-md-12 col-sm-12" style="position: relative;  top: -50px;">
                  <div class="col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 20px;">
                    <div class="res-details_div">
                      <div class="res-open-hr-div">
                        <p class="res-open-hr-p" style="font-size: 20px; font-weight: 600;">Opening Hours</p>
                        <p class="res-open-time-p" style="font-size: 16px; color: #7b7878;"> -->
                          <!-- <ul class="operationInfo">
                             <li class="blacktitle" *ngFor="let info of operationOurs let i = index">
                                {{info.day}} :  {{info.open}} -  {{info.close}} ,
                             </li>
                          </ul>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="map-div">
                      <div class="map-responsive"> -->
                          <!-- <iframe width="100%" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=40.7127837,-74.0059413key=AIzaSyB9Mobk70l1gEyIywzPG6qH-H-odB0C8xg"></iframe> -->
                          <!-- <iframe [src]="mapLink | safe" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe> -->
        
                          <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2034.856348647301!2d18.061090216193083!3d59.33535211758157!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x465f9d5d880a9215%3A0x1ce501e920d173bc!2sKungsgatan+41%2C+111+56+Stockholm%2C+Sweden!5e0!3m2!1sen!2sin!4v1552120370175" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                      </div>
                    </div>
                  </div>
                </div>
               </div> -->
   <!-- </div>
</div> -->
<ngx-spinner
	bdColor="rgba(51,51,51,0.8)"
	size="medium"
	color="#fff"
	type="ball-scale-multiple">
	<p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>