<section class="toggle-form">
  <div class="formwrap px-4">
    <div class="icon-close pos-a"><img class="close_img" src="./assets/images/59836.svg" style="
        width: 18px; margin-left: 13px;"
        alt="Close Button"></div>
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-6">
        <p class="text-white mt-4 h3">{{ userName ? userName: 'Logga in' }}</p>
        <span class="or_sing">eller</span><a class="sing_up_tag cta-open1">skapa ett konto</a>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-6">
        <img class="side_img" src="./assets/images/Image-login_btpq7r.png" style="width: 76px; float: right;">
      </div>
    </div>
    <div class="from_class">
      <form action="#" method="post" role="form" data-toggle="validator">
        <div class="form-group" style="margin-bottom:0px;">
          <div class="phone_div">
            <input type="text" id="phone" name="phone" class="form-control phone_num required" data-error="Please enter a valid phone number"
              required>
            <div class="empty_div"></div>
            <label for="phone" class="phone_label control-label">E-post</label>
          </div>
        </div>
        <div class="form-group" style="margin-bottom: 0px;">
          <div class="passwors_div">
            <input type="password" id="password" name="password" class="form-control phone_num required" data-error="Please enter a valid password"
              required>
            <div class="empty_div"></div>
            <label for="phone" class="phone_label control-label">Lösenord</label>
          </div>
        </div>
        <p class="text-center margin-top-s" style="visibility: hidden; margin-bottom: 0px;"><small>Genom att klicka på
            "Skicka" accepterar du <a href="/terms/">Användarvillkor</a>.</small></p>
        <p class="margin-0"><button type="submit" class="btn btn-lg orange w-100 margin-top-s">{{ userName ? userName: 'Logga in' }}</button></p>
      </form>
    </div>
  </div>
  <div class="toggle-bg"></div>
</section>
<section class="toggle-form1">
  <div class="formwrap1 px-4">
    <div class="icon-close1 pos-a"><img src="./assets/images/59836.svg" style="
        width: 18px; margin-left: 13px;"
        alt="Close Button"></div>
    <div class="row">

      <div class="col-md-6 col-sm-6 col-xs-6">

        <p class="text-white mt-4 h3">Bli Medlem</p>

        <span class="or_sing">or</span><a class="sing_up_tag cta-open">{{ userName ? userName: 'Logga in' }}</a>

      </div>

      <div class="col-md-6 col-sm-6 col-xs-6">

        <img class="side_img" src="./assets/images/Image-login_btpq7r.png" style="width: 76px; float: right;">

      </div>

    </div>

    <div class="from_class">

      <form action="#" method="post" role="form" data-toggle="validator">

        <div class="form-group" style="margin-bottom:0px;">

          <div class="phone_div">

            <input type="text" id="phone1" name="phone" class="form-control phone_num required" data-error="Please enter a valid phone number"
              required>

            <div class="empty_div"></div>

            <label for="phone" class="phone_label control-label">Förnamn</label>

          </div>

        </div>

        <div class="form-group" style="margin-bottom:0px;">

          <div class="passwors_div">

            <input type="text" id="name" name="name" class="form-control phone_num required" data-error="Please enter a your name"
              required>

            <div class="empty_div"></div>

            <label for="phone" class="phone_label control-label">Mobilnummer</label>

          </div>

        </div>

        <div class="form-group" style="margin-bottom:0px;">

          <div class="passwors_div">

            <input type="email" id="email" name="email" class="form-control phone_num required" data-error="Please enter a valid email"
              required>

            <div class="empty_div"></div>

            <label for="phone" class="phone_label control-label">Mailadress</label>

          </div>

        </div>

        <div class="form-group" style="margin-bottom:0px;">

          <div class="passwors_div">

            <input type="password" id="password1" name="password" class="form-control phone_num required" data-error="Please enter a valid password"
              required>

            <div class="empty_div"></div>

            <label for="phone" class="phone_label control-label">Lösenord</label>

          </div>

        </div>

        <div class="referral_div">

          <a class="have_referral">Har en hänvisningskod?</a>

        </div>

        <p class="margin-0"><button type="submit" class="btn btn-lg orange w-100 margin-top-s">FORTSÄTTA</button></p>

        <p class="text-center margin-top-s"><small class="small_class">Genom att klicka på "Skicka" accepterar du

            <a class="contison_a" href="#">Användarvillkor</a>.</small>

        </p>

      </form>

    </div>

  </div>

  <div class="toggle-bg1"></div>

</section>

<nav class="navbar navbar-cont navbar-fixed-top hidden-xs" style="background-color: #fff;">

  <div class="container-fluid nav-cont">

    <div class="navbar-header">

      <button type="button" class="navbar-toggle bg_togle" data-toggle="collapse" data-target="#myNavbar">

        <span class="icon-bar icon_bg"></span>

        <span class="icon-bar icon_bg"></span>

        <span class="icon-bar icon_bg"></span>

      </button>

      <a class="navbar-brand" href="#"><img style="height: 22px;" src="./assets/images/1428568091-Attachment-1.png"></a>

    </div>

    <div class="nav navbar-nav navbar-left navbar-left-brand" id="navbar-left-brand">

      <span class="del-to"> LEVERANS TILL: </span>

      <span class="address">Drottninggatan 1, 753 10 Uppsala</span>

      <i class="fa fa-chevron-down" style="color: #7A0003"></i>

      <div class="input-group" style="width: 100%;margin-top: 25px;display: none;z-index: -1;" id="locate-search">

        <input type="text" class="form-control" style="border-radius: 0;border-color:#ddd;font-size: 15px;  color: #780300;"
          placeholder="Drottninggatan 1, 753 10 Uppsala">

        <span class="input-group-addon" style="background-color: #fff;border: 1px solid #ddd;border-left: 0px;">

          <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewBox="0 0 23 23">

            <g fill="none" fill-rule="evenodd">

              <path stroke="#7A0003" d="M11.5 22.5v-2.986l.471-.028a8.001 8.001 0 0 0 7.515-7.515l.028-.471H22.5h-2.986l-.028-.471a8.001 8.001 0 0 0-7.515-7.515l-.471-.028V.5v2.986l-.471.028a8.001 8.001 0 0 0-7.515 7.515l-.028.471H.5h2.986l.028.471a8.001 8.001 0 0 0 7.515 7.515l.471.028V22.5z"></path>

              <circle cx="11.5" cy="11.5" r="4" stroke="#7A0003"></circle>

              <circle cx="11.5" cy="11.5" r="1" fill="#7A0003"></circle>

            </g>

          </svg>

        </span>

        <span class="input-group-addon" style="border-radius: 0;background: #7A0003;padding: 15px;color: #fff;">

          <i class="fa fa-arrow-right"></i>

        </span>

        <p style="font-size: 12px;position: absolute;top: -8px;left: 42px;background: #fff;z-index: 2;" id="locate-me-tab">Din
          adress eller postnummer</p>

      </div>



    </div>

    <div class="nav navbar-nav navbar-left navbar-left-brand" id="navbar-left-brand-tab">

      <span class="del-to"> LEVERANS TILL: </span>

      <span class="address">Drottninggatan 1, 753 10 Uppsala</span>

      <i class="fa fa-chevron-down" style="color: #7A0003"></i>

      <div class="input-group" style="width: 100%;margin-top: 25px;display: none;z-index: -1;" id="locate-search-tab">

        <input type="text" class="form-control" style="border-radius: 0;border-color:#ddd;font-size: 15px;" placeholder="Drottninggatan 1, 753 10 Uppsala">

        <span class="input-group-addon" style="background-color: #fff;border: 1px solid #ddd;border-left: 0px;">

          <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewBox="0 0 23 23">

            <g fill="none" fill-rule="evenodd">

              <path stroke="#7A0003" d="M11.5 22.5v-2.986l.471-.028a8.001 8.001 0 0 0 7.515-7.515l.028-.471H22.5h-2.986l-.028-.471a8.001 8.001 0 0 0-7.515-7.515l-.471-.028V.5v2.986l-.471.028a8.001 8.001 0 0 0-7.515 7.515l-.028.471H.5h2.986l.028.471a8.001 8.001 0 0 0 7.515 7.515l.471.028V22.5z"></path>

              <circle cx="11.5" cy="11.5" r="4" stroke="#7A0003"></circle>

              <circle cx="11.5" cy="11.5" r="1" fill="#7A0003"></circle>

            </g>

          </svg>

        </span>

        <span class="input-group-addon" style="border-radius: 0;background: #7A0003;padding: 15px;color: #fff;">

          <i class="fa fa-arrow-right"></i>

        </span>

        <p style="font-size: 12px;position: absolute;top: -8px;left: 42px;background: #fff;z-index: 2" id="locate-me">Din
          adress eller postnummer</p>

      </div>



    </div>

    <div class="collapse navbar-collapse" id="myNavbar">

      <ul class="nav navbar-nav navbar-right">

        <li class="cta-open"><a href="#"><span class="glyphicon glyphicon-user"></span> <span style="font-size: 1.2rem;">{{ userName ? userName: 'Logga in' }}</span></a></li>

        <li class="catr_icon"><a href="#"><span class="glyphicon glyphicon-shopping-cart"></span></a></li>

      </ul>

    </div>

  </div>

</nav>

<nav class="navbar navbar-cont navbar-fixed-top visible-xs" style="background-color: #fff;">

  <div class="container-fluid nav-cont" style="padding: 0;">

    <div class="navbar-header">

      <!-- <button type="button" class="navbar-toggle bg_togle" data-toggle="collapse" data-target="#myNavbar">

           <span class="icon-bar icon_bg"></span>

           <span class="icon-bar icon_bg"></span>

           <span class="icon-bar icon_bg"></span>                        

           </button> -->

      <a class="navbar-brand" href="#"><img style="height: 22px;" src="./assets/images/1428568091-Attachment-1.png"></a>

    </div>

    <div class="nav navbar-nav navbar-left navbar-left-brand" id="navbar-left-brand-mob" style="left: 15px;width: 100%;top:57px;">

      <span class="del-to"> LEVERANS TILL: </span>

      <span class="address">Drottninggatan 1, 753 10 Uppsala</span>

      <i class="fa fa-chevron-down" style="color: #7A0003"></i>

      <div class="input-group" style="width: 100%;margin-top: 25px;display: none;z-index: -1;" id="locate-search-mob">

        <input type="text" class="form-control" style="border-radius: 0;border-color:#ddd;font-size: 15px;" placeholder="Drottninggatan 1, 753 10 Uppsala">

        <span class="input-group-addon" style="background-color: #fff;border: 1px solid #ddd;border-left: 0px;">

          <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewBox="0 0 23 23">

            <g fill="none" fill-rule="evenodd">

              <path stroke="#7A0003" d="M11.5 22.5v-2.986l.471-.028a8.001 8.001 0 0 0 7.515-7.515l.028-.471H22.5h-2.986l-.028-.471a8.001 8.001 0 0 0-7.515-7.515l-.471-.028V.5v2.986l-.471.028a8.001 8.001 0 0 0-7.515 7.515l-.028.471H.5h2.986l.028.471a8.001 8.001 0 0 0 7.515 7.515l.471.028V22.5z"></path>

              <circle cx="11.5" cy="11.5" r="4" stroke="#7A0003"></circle>

              <circle cx="11.5" cy="11.5" r="1" fill="#7A0003"></circle>

            </g>

          </svg>

        </span>

        <span class="input-group-addon" style="border-radius: 0;background: #7A0003;padding: 15px;color: #fff;">

          <i class="fa fa-arrow-right"></i>

        </span>

        <p style="font-size: 12px;position: absolute;top: -8px;left: 42px;background: #fff;z-index: 2;" id="locate-me-mob">Skriv
          en recension</p>

      </div>





    </div>

    <a href="#" class="pull-left cta-open" style="padding: 20px !important;line-height: 0;color: #7A0003;"><span class="glyphicon glyphicon-user"></span>
    </a>

    <a href="#" class="pull-right" style="padding: 20px !important;line-height: 0;color: #7A0003;"><span class="glyphicon glyphicon-shopping-cart"></span></a>

    <div class="collapse navbar-collapse" id="myNavbar">

      <ul class="nav navbar-nav navbar-right">

        <li></li>

        <li></li>

      </ul>

    </div>

  </div>

</nav>