picture{
    top: -27px;
 }
 .res_logo_side {
    position: relative;
    top: -142px;
    z-index: 5;
    width: 94px;
    /*float: right;*/
    height: 90px;
    border-radius: 55px;
    /*right: 10px;*/
    right: -29%;
    text-align: center;
 }
 .offer_bg{
    display: none;
 }