<div class="container_fluid offer_bg" style="display:block;">
  <!-- <div class="container"> -->

  <section class="customer-logos slider">

      <div class="slide">
          <a href="#">
              <img src="./assets/images/offer_1.jpg">
          </a>
      </div>

      <div class="slide">
          <a href="#">
              <img src="./assets/images/offer_2.jpg">
          </a>
      </div>

      <div class="slide">
          <a href="#">
              <img src="./assets/images/offer_3.jpg">
          </a>
      </div>

      <div class="slide">
          <a href="#">
              <img src="./assets/images/offer_4.jpg">
          </a>
      </div>

      <div class="slide">
          <a href="#">
              <img src="./assets/images/offer_5.jpg">
          </a>
      </div>

      <div class="slide">
          <a href="#">
              <img src="./assets/images/offer_6.jpg">
          </a>
      </div>

      <div class="slide">
          <a href="#">
              <img src="./assets/images/offer_7.jpg">
          </a>
      </div>

      <div class="slide">
          <a href="#">
              <img src="./assets/images/offer_8.jpg">
          </a>
      </div>

      <div class="slide">
          <a href="#">
              <img src="./assets/images/offer_9.jpg">
          </a>
      </div>

      <div class="slide">
          <a href="#">
              <img src="./assets/images/offer_10.jpg">
          </a>
      </div>

      <div class="slide">
          <a href="#">
              <img src="./assets/images/offer_11.jpg">
          </a>
      </div>

  </section>

  <!-- </div> -->

</div>
<div class="container-fluid fluid-bg">

  <div class="container product_list_hole_div" style="background: #fff;margin: 30px auto;">

      <div class=" restaurants__tool-box-wrapper pickup">

          <div class="search_hole_div">

              <div class="search_fillter_div">

                  <a class="search_tag">

                      <span class="search_span">

                          <i class="fa fa-search" ></i>

                      </span>

                      <input id="search_box" type="text" placeholder="Sök...." style="width: 75px;">

                  </a>

                  <a class="filter_tag" id="hidden_a_id">

                      <span class="filter_span">

                          <i class="fa fa-sliders fa-rotate-90" aria-hidden="true" (click)="closeFielterBox()"></i>

                      </span>

                      <input id="search_box1" type="button" value="FILTERS" style="width: 420px; display: inline-block;">

                      <span class="closeFielterBox">

                          <i class="fa fa-chevron-down mob-chevron-down" (click)="closeFielterBox()"></i>

                      </span>

                  </a>

              </div>

              <div id="divShowHide" *ngIf="divShowHide" style="background-color: rgb(255, 255, 255); height: 0px;">
                  <div class="budget budget-offer">

                      <div style="margin:20px 0 25px 0;">

                          <div class="form-group">

                              <select class="form-control offer-select" id="sel1">

                                  <option>
                                      <font style="vertical-align: inherit;">
                                          <font style="vertical-align: inherit;">Offers</font>
                                      </font>
                                  </option>

                                  <option>
                                      <font style="vertical-align: inherit;">
                                          <font style="vertical-align: inherit;">free delivery</font>
                                      </font>
                                  </option>

                              </select>

                          </div>

                      </div>

                      <h4>
                          <font style="vertical-align: inherit;">
                              <font style="vertical-align: inherit;">Choose food type</font>
                          </font>
                      </h4>

                      <ul class="filter-column">

                          <li>

                              <label class="checkbox-box">

                                  <input type="checkbox" name="filter-quick" id="has_discount" value="has_discount">

                                  <span class="checkbox-element">

                                      <i class="checkmark">

                                          <svg xmlns="http://www.w3.org/2000/svg" width="8" height="6" viewBox="0 0 8 6">

                                              <g class="svg-stroke-container">

                                                  <path fill="none" fill-rule="evenodd" stroke="#FFF" stroke-linecap="round" stroke-linejoin="round" d="M.5 3.333L3.073 5.5 7.5.5"></path>

                                              </g>

                                          </svg>

                                      </i>

                                  </span>

                                  <span class="checkbox-text">
                                      <font style="vertical-align: inherit;">
                                          <font style="vertical-align: inherit;">Sausage</font>
                                      </font>
                                  </span>

                              </label>

                          </li>

                          <li>

                              <label class="checkbox-box">

                                  <input type="checkbox" name="filter-quick" id="has_discount" value="has_discount">

                                  <span class="checkbox-element">

                                      <i class="checkmark">

                                          <svg xmlns="http://www.w3.org/2000/svg" width="8" height="6" viewBox="0 0 8 6">

                                              <g class="svg-stroke-container">

                                                  <path fill="none" fill-rule="evenodd" stroke="#FFF" stroke-linecap="round" stroke-linejoin="round" d="M.5 3.333L3.073 5.5 7.5.5"></path>

                                              </g>

                                          </svg>

                                      </i>

                                  </span>

                                  <span class="checkbox-text">
                                      <font style="vertical-align: inherit;">
                                          <font style="vertical-align: inherit;">Asian</font>
                                      </font>
                                  </span>

                              </label>

                          </li>

                          <li>

                              <label class="checkbox-box">

                                  <input type="checkbox" name="filter-quick" id="has_discount" value="has_discount">

                                  <span class="checkbox-element">

                                      <i class="checkmark">

                                          <svg xmlns="http://www.w3.org/2000/svg" width="8" height="6" viewBox="0 0 8 6">

                                              <g class="svg-stroke-container">

                                                  <path fill="none" fill-rule="evenodd" stroke="#FFF" stroke-linecap="round" stroke-linejoin="round" d="M.5 3.333L3.073 5.5 7.5.5"></path>

                                              </g>

                                          </svg>

                                      </i>

                                  </span>

                                  <span class="checkbox-text">
                                      <font style="vertical-align: inherit;">
                                          <font style="vertical-align: inherit;">pastries</font>
                                      </font>
                                  </span>

                              </label>

                          </li>

                          <li>

                              <label class="checkbox-box">

                                  <input type="checkbox" name="filter-quick" id="has_discount" value="has_discount">

                                  <span class="checkbox-element">

                                      <i class="checkmark">

                                          <svg xmlns="http://www.w3.org/2000/svg" width="8" height="6" viewBox="0 0 8 6">

                                              <g class="svg-stroke-container">

                                                  <path fill="none" fill-rule="evenodd" stroke="#FFF" stroke-linecap="round" stroke-linejoin="round" d="M.5 3.333L3.073 5.5 7.5.5"></path>

                                              </g>

                                          </svg>

                                      </i>

                                  </span>

                                  <span class="checkbox-text">
                                      <font style="vertical-align: inherit;">
                                          <font style="vertical-align: inherit;">Eritrean</font>
                                      </font>
                                  </span>

                              </label>

                          </li>

                          <li>

                              <label class="checkbox-box">

                                  <input type="checkbox" name="filter-quick" id="has_discount" value="has_discount">

                                  <span class="checkbox-element">

                                      <i class="checkmark">

                                          <svg xmlns="http://www.w3.org/2000/svg" width="8" height="6" viewBox="0 0 8 6">

                                              <g class="svg-stroke-container">

                                                  <path fill="none" fill-rule="evenodd" stroke="#FFF" stroke-linecap="round" stroke-linejoin="round" d="M.5 3.333L3.073 5.5 7.5.5"></path>

                                              </g>

                                          </svg>

                                      </i>

                                  </span>

                                  <span class="checkbox-text">
                                      <font style="vertical-align: inherit;">
                                          <font style="vertical-align: inherit;">Ethiopian</font>
                                      </font>
                                  </span>

                              </label>

                          </li>

                          <li>

                              <label class="checkbox-box">

                                  <input type="checkbox" name="filter-quick" id="has_discount" value="has_discount">

                                  <span class="checkbox-element">

                                      <i class="checkmark">

                                          <svg xmlns="http://www.w3.org/2000/svg" width="8" height="6" viewBox="0 0 8 6">

                                              <g class="svg-stroke-container">

                                                  <path fill="none" fill-rule="evenodd" stroke="#FFF" stroke-linecap="round" stroke-linejoin="round" d="M.5 3.333L3.073 5.5 7.5.5"></path>

                                              </g>

                                          </svg>

                                      </i>

                                  </span>

                                  <span class="checkbox-text">
                                      <font style="vertical-align: inherit;">
                                          <font style="vertical-align: inherit;">Indian</font>
                                      </font>
                                  </span>

                              </label>

                          </li>

                          <li>

                              <label class="checkbox-box">

                                  <input type="checkbox" name="filter-quick" id="has_discount" value="has_discount">

                                  <span class="checkbox-element">

                                      <i class="checkmark">

                                          <svg xmlns="http://www.w3.org/2000/svg" width="8" height="6" viewBox="0 0 8 6">

                                              <g class="svg-stroke-container">

                                                  <path fill="none" fill-rule="evenodd" stroke="#FFF" stroke-linecap="round" stroke-linejoin="round" d="M.5 3.333L3.073 5.5 7.5.5"></path>

                                              </g>

                                          </svg>

                                      </i>

                                  </span>

                                  <span class="checkbox-text">
                                      <font style="vertical-align: inherit;">
                                          <font style="vertical-align: inherit;">Italian</font>
                                      </font>
                                  </span>

                              </label>

                          </li>

                          <li>

                              <label class="checkbox-box">

                                  <input type="checkbox" name="filter-quick" id="has_discount" value="has_discount">

                                  <span class="checkbox-element">

                                      <i class="checkmark">

                                          <svg xmlns="http://www.w3.org/2000/svg" width="8" height="6" viewBox="0 0 8 6">

                                              <g class="svg-stroke-container">

                                                  <path fill="none" fill-rule="evenodd" stroke="#FFF" stroke-linecap="round" stroke-linejoin="round" d="M.5 3.333L3.073 5.5 7.5.5"></path>

                                              </g>

                                          </svg>

                                      </i>

                                  </span>

                                  <span class="checkbox-text">
                                      <font style="vertical-align: inherit;">
                                          <font style="vertical-align: inherit;">Candy</font>
                                      </font>
                                  </span>

                              </label>

                          </li>

                          <li>

                              <label class="checkbox-box">

                                  <input type="checkbox" name="filter-quick" id="has_discount" value="has_discount">

                                  <span class="checkbox-element">

                                      <i class="checkmark">

                                          <svg xmlns="http://www.w3.org/2000/svg" width="8" height="6" viewBox="0 0 8 6">

                                              <g class="svg-stroke-container">

                                                  <path fill="none" fill-rule="evenodd" stroke="#FFF" stroke-linecap="round" stroke-linejoin="round" d="M.5 3.333L3.073 5.5 7.5.5"></path>

                                              </g>

                                          </svg>

                                      </i>

                                  </span>

                                  <span class="checkbox-text">
                                      <font style="vertical-align: inherit;">
                                          <font style="vertical-align: inherit;">Hamburger</font>
                                      </font>
                                  </span>

                              </label>

                          </li>

                          <li>

                              <label class="checkbox-box">

                                  <input type="checkbox" name="filter-quick" id="has_discount" value="has_discount">

                                  <span class="checkbox-element">

                                      <i class="checkmark">

                                          <svg xmlns="http://www.w3.org/2000/svg" width="8" height="6" viewBox="0 0 8 6">

                                              <g class="svg-stroke-container">

                                                  <path fill="none" fill-rule="evenodd" stroke="#FFF" stroke-linecap="round" stroke-linejoin="round" d="M.5 3.333L3.073 5.5 7.5.5"></path>

                                              </g>

                                          </svg>

                                      </i>

                                  </span>

                                  <span class="checkbox-text">Kebab</span>

                              </label>

                          </li>

                          <li>

                              <label class="checkbox-box">

                                  <input type="checkbox" name="filter-quick" id="has_discount" value="has_discount">

                                  <span class="checkbox-element">

                                      <i class="checkmark">

                                          <svg xmlns="http://www.w3.org/2000/svg" width="8" height="6" viewBox="0 0 8 6">

                                              <g class="svg-stroke-container">

                                                  <path fill="none" fill-rule="evenodd" stroke="#FFF" stroke-linecap="round" stroke-linejoin="round" d="M.5 3.333L3.073 5.5 7.5.5"></path>

                                              </g>

                                          </svg>

                                      </i>

                                  </span>

                                  <span class="checkbox-text">
                                      <font style="vertical-align: inherit;">
                                          <font style="vertical-align: inherit;">charcoal grill</font>
                                      </font>
                                  </span>

                              </label>

                          </li>

                          <li>

                              <label class="checkbox-box">

                                  <input type="checkbox" name="filter-quick" id="has_discount" value="has_discount">

                                  <span class="checkbox-element">

                                      <i class="checkmark">

                                          <svg xmlns="http://www.w3.org/2000/svg" width="8" height="6" viewBox="0 0 8 6">

                                              <g class="svg-stroke-container">

                                                  <path fill="none" fill-rule="evenodd" stroke="#FFF" stroke-linecap="round" stroke-linejoin="round" d="M.5 3.333L3.073 5.5 7.5.5"></path>

                                              </g>

                                          </svg>

                                      </i>

                                  </span>

                                  <span class="checkbox-text">
                                      <font style="vertical-align: inherit;">
                                          <font style="vertical-align: inherit;">Sandwiches</font>
                                      </font>
                                  </span>

                              </label>

                          </li>

                          <li>

                              <label class="checkbox-box">

                                  <input type="checkbox" name="filter-quick" id="has_discount" value="has_discount">

                                  <span class="checkbox-element">

                                      <i class="checkmark">

                                          <svg xmlns="http://www.w3.org/2000/svg" width="8" height="6" viewBox="0 0 8 6">

                                              <g class="svg-stroke-container">

                                                  <path fill="none" fill-rule="evenodd" stroke="#FFF" stroke-linecap="round" stroke-linejoin="round" d="M.5 3.333L3.073 5.5 7.5.5"></path>

                                              </g>

                                          </svg>

                                      </i>

                                  </span>

                                  <span class="checkbox-text">
                                      <font style="vertical-align: inherit;">
                                          <font style="vertical-align: inherit;">Mexican</font>
                                      </font>
                                  </span>

                              </label>

                          </li>

                          <li>

                              <label class="checkbox-box">

                                  <input type="checkbox" name="filter-quick" id="has_discount" value="has_discount">

                                  <span class="checkbox-element">

                                      <i class="checkmark">

                                          <svg xmlns="http://www.w3.org/2000/svg" width="8" height="6" viewBox="0 0 8 6">

                                              <g class="svg-stroke-container">

                                                  <path fill="none" fill-rule="evenodd" stroke="#FFF" stroke-linecap="round" stroke-linejoin="round" d="M.5 3.333L3.073 5.5 7.5.5"></path>

                                              </g>

                                          </svg>

                                      </i>

                                  </span>

                                  <span class="checkbox-text">Pasta</span>

                              </label>

                          </li>

                          <li>

                              <label class="checkbox-box">

                                  <input type="checkbox" name="filter-quick" id="has_discount" value="has_discount">

                                  <span class="checkbox-element">

                                      <i class="checkmark">

                                          <svg xmlns="http://www.w3.org/2000/svg" width="8" height="6" viewBox="0 0 8 6">

                                              <g class="svg-stroke-container">

                                                  <path fill="none" fill-rule="evenodd" stroke="#FFF" stroke-linecap="round" stroke-linejoin="round" d="M.5 3.333L3.073 5.5 7.5.5"></path>

                                              </g>

                                          </svg>

                                      </i>

                                  </span>

                                  <span class="checkbox-text">
                                      <font style="vertical-align: inherit;">
                                          <font style="vertical-align: inherit;">Persian</font>
                                      </font>
                                  </span>

                              </label>

                          </li>

                          <li>

                              <label class="checkbox-box">

                                  <input type="checkbox" name="filter-quick" id="has_discount" value="has_discount">

                                  <span class="checkbox-element">

                                      <i class="checkmark">

                                          <svg xmlns="http://www.w3.org/2000/svg" width="8" height="6" viewBox="0 0 8 6">

                                              <g class="svg-stroke-container">

                                                  <path fill="none" fill-rule="evenodd" stroke="#FFF" stroke-linecap="round" stroke-linejoin="round" d="M.5 3.333L3.073 5.5 7.5.5"></path>

                                              </g>

                                          </svg>

                                      </i>

                                  </span>

                                  <span class="checkbox-text">Pizza</span>

                              </label>

                          </li>

                          <li>

                              <label class="checkbox-box">

                                  <input type="checkbox" name="filter-quick" id="has_discount" value="has_discount">

                                  <span class="checkbox-element">

                                      <i class="checkmark">

                                          <svg xmlns="http://www.w3.org/2000/svg" width="8" height="6" viewBox="0 0 8 6">

                                              <g class="svg-stroke-container">

                                                  <path fill="none" fill-rule="evenodd" stroke="#FFF" stroke-linecap="round" stroke-linejoin="round" d="M.5 3.333L3.073 5.5 7.5.5"></path>

                                              </g>

                                          </svg>

                                      </i>

                                  </span>

                                  <span class="checkbox-text">
                                      <font style="vertical-align: inherit;">
                                          <font style="vertical-align: inherit;">Salad</font>
                                      </font>
                                  </span>

                              </label>

                          </li>

                          <li>

                              <label class="checkbox-box">

                                  <input type="checkbox" name="filter-quick" id="has_discount" value="has_discount">

                                  <span class="checkbox-element">

                                      <i class="checkmark">

                                          <svg xmlns="http://www.w3.org/2000/svg" width="8" height="6" viewBox="0 0 8 6">

                                              <g class="svg-stroke-container">

                                                  <path fill="none" fill-rule="evenodd" stroke="#FFF" stroke-linecap="round" stroke-linejoin="round" d="M.5 3.333L3.073 5.5 7.5.5"></path>

                                              </g>

                                          </svg>

                                      </i>

                                  </span>

                                  <span class="checkbox-text">Snacks</span>

                              </label>

                          </li>

                          <li>

                              <label class="checkbox-box">

                                  <input type="checkbox" name="filter-quick" id="has_discount" value="has_discount">

                                  <span class="checkbox-element">

                                      <i class="checkmark">

                                          <svg xmlns="http://www.w3.org/2000/svg" width="8" height="6" viewBox="0 0 8 6">

                                              <g class="svg-stroke-container">

                                                  <path fill="none" fill-rule="evenodd" stroke="#FFF" stroke-linecap="round" stroke-linejoin="round" d="M.5 3.333L3.073 5.5 7.5.5"></path>

                                              </g>

                                          </svg>

                                      </i>

                                  </span>

                                  <span class="checkbox-text">Subway</span>

                              </label>

                          </li>

                          <li>

                              <label class="checkbox-box">

                                  <input type="checkbox" name="filter-quick" id="has_discount" value="has_discount">

                                  <span class="checkbox-element">

                                      <i class="checkmark">

                                          <svg xmlns="http://www.w3.org/2000/svg" width="8" height="6" viewBox="0 0 8 6">

                                              <g class="svg-stroke-container">

                                                  <path fill="none" fill-rule="evenodd" stroke="#FFF" stroke-linecap="round" stroke-linejoin="round" d="M.5 3.333L3.073 5.5 7.5.5"></path>

                                              </g>

                                          </svg>

                                      </i>

                                  </span>

                                  <span class="checkbox-text">Sushi</span>

                              </label>

                          </li>

                          <li>

                              <label class="checkbox-box">

                                  <input type="checkbox" name="filter-quick" id="has_discount" value="has_discount">

                                  <span class="checkbox-element">

                                      <i class="checkmark">

                                          <svg xmlns="http://www.w3.org/2000/svg" width="8" height="6" viewBox="0 0 8 6">

                                              <g class="svg-stroke-container">

                                                  <path fill="none" fill-rule="evenodd" stroke="#FFF" stroke-linecap="round" stroke-linejoin="round" d="M.5 3.333L3.073 5.5 7.5.5"></path>

                                              </g>

                                          </svg>

                                      </i>

                                  </span>

                                  <span class="checkbox-text">Tapas</span>

                              </label>

                          </li>

                          <li>

                              <label class="checkbox-box">

                                  <input type="checkbox" name="filter-quick" id="has_discount" value="has_discount">

                                  <span class="checkbox-element">

                                      <i class="checkmark">

                                          <svg xmlns="http://www.w3.org/2000/svg" width="8" height="6" viewBox="0 0 8 6">

                                              <g class="svg-stroke-container">

                                                  <path fill="none" fill-rule="evenodd" stroke="#FFF" stroke-linecap="round" stroke-linejoin="round" d="M.5 3.333L3.073 5.5 7.5.5"></path>

                                              </g>

                                          </svg>

                                      </i>

                                  </span>

                                  <span class="checkbox-text">
                                      <font style="vertical-align: inherit;">
                                          <font style="vertical-align: inherit;">Tobacco</font>
                                      </font>
                                  </span>

                              </label>

                          </li>

                          <li>

                              <label class="checkbox-box">

                                  <input type="checkbox" name="filter-quick" id="has_discount" value="has_discount">

                                  <span class="checkbox-element">

                                      <i class="checkmark">

                                          <svg xmlns="http://www.w3.org/2000/svg" width="8" height="6" viewBox="0 0 8 6">

                                              <g class="svg-stroke-container">

                                                  <path fill="none" fill-rule="evenodd" stroke="#FFF" stroke-linecap="round" stroke-linejoin="round" d="M.5 3.333L3.073 5.5 7.5.5"></path>

                                              </g>

                                          </svg>

                                      </i>

                                  </span>

                                  <span class="checkbox-text">
                                      <font style="vertical-align: inherit;">
                                          <font style="vertical-align: inherit;">Vedugnspizza</font>
                                      </font>
                                  </span>

                              </label>

                          </li>

                          <li>

                              <label class="checkbox-box">

                                  <input type="checkbox" name="filter-quick" id="has_discount" value="has_discount">

                                  <span class="checkbox-element">

                                      <i class="checkmark">

                                          <svg xmlns="http://www.w3.org/2000/svg" width="8" height="6" viewBox="0 0 8 6">

                                              <g class="svg-stroke-container">

                                                  <path fill="none" fill-rule="evenodd" stroke="#FFF" stroke-linecap="round" stroke-linejoin="round" d="M.5 3.333L3.073 5.5 7.5.5"></path>

                                              </g>

                                          </svg>

                                      </i>

                                  </span>

                                  <span class="checkbox-text">
                                      <font style="vertical-align: inherit;">
                                          <font style="vertical-align: inherit;">Vegan</font>
                                      </font>
                                  </span>

                              </label>

                          </li>

                          <li>

                              <label class="checkbox-box">

                                  <input type="checkbox" name="filter-quick" id="has_discount" value="has_discount">

                                  <span class="checkbox-element">

                                      <i class="checkmark">

                                          <svg xmlns="http://www.w3.org/2000/svg" width="8" height="6" viewBox="0 0 8 6">

                                              <g class="svg-stroke-container">

                                                  <path fill="none" fill-rule="evenodd" stroke="#FFF" stroke-linecap="round" stroke-linejoin="round" d="M.5 3.333L3.073 5.5 7.5.5"></path>

                                              </g>

                                          </svg>

                                      </i>

                                  </span>

                                  <span class="checkbox-text">
                                      <font style="vertical-align: inherit;">
                                          <font style="vertical-align: inherit;">Gluten </font>
                                      </font>
                                  </span>

                              </label>

                          </li>

                      </ul>

                  </div>

              </div>

          </div>

          <div class=" restaurants__tool-box pickup">

              <div class="restaurants__location  has-new-filters">

                  <form id="delivery-information-postal-index-form" class="restaurants__location__form" method="GET">

                      <button class="button--fake restaurants__location__cancel-icon">

                          <svg class="svg-stroke-container" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                              viewBox="0 0 16 16">

                              <path fill="#D70F64" fill-rule="evenodd" d="M8 9.016l6.886 6.795a.658.658 0 0 0 .923 0 .637.637 0 0 0 0-.91L9.01 8l6.799-6.902a.637.637 0 0 0 0-.91.659.659 0 0 0-.923 0L8 6.983 1.114.188a.659.659 0 0 0-.923 0 .637.637 0 0 0 0 .911L6.99 8 .19 14.9a.637.637 0 0 0 0 .911.658.658 0 0 0 .923 0L8 9.016z"></path>

                          </svg>

                      </button>

                      <div class="address-search-container ">

                          <div class=" ">

                              <input type="text" class="restaurants__location__input cancelable__restaurants__location__input form-control"
                                  id="delivery-information-postal-index" name="location_set" placeholder="Enter your street address"
                                  value="" data-msg_error_not_found="Something went wrong! We do not recognise the address you entered. Please try again."
                                  data-msg_you_probably_mean="Does this postal code match your query?"
                                  data-msg_error_geolocation="It was not possible to detect your location"
                                  data-msg_error_empty="Please enter your street address" data-msg_error_postal_code="Please enter your street address and number"
                                  data-msg_error_vendor_empty_address="Enter your postal code to see if this restaurant delivers to you."
                                  autocomplete="off">

                              <div class="address-suggestions">

                                  <ul></ul>

                              </div>

                          </div>

                          <span class="locate-me">

                              <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewBox="0 0 23 23">

                                  <g fill="none" fill-rule="evenodd">

                                      <path stroke="#D70F64" d="M11.5 22.5v-2.986l.471-.028a8.001 8.001 0 0 0 7.515-7.515l.028-.471H22.5h-2.986l-.028-.471a8.001 8.001 0 0 0-7.515-7.515l-.471-.028V.5v2.986l-.471.028a8.001 8.001 0 0 0-7.515 7.515l-.028.471H.5h2.986l.028.471a8.001 8.001 0 0 0 7.515 7.515l.471.028V22.5z"></path>

                                      <circle cx="11.5" cy="11.5" r="4" stroke="#D70F64"></circle>

                                      <circle cx="11.5" cy="11.5" r="1" fill="#D70F64"></circle>

                                  </g>

                              </svg>

                          </span>

                      </div>

                  </form>

              </div>


              <!-- <div class="delivery-toggle">

                <span class="deliver_span">Hemkörning</span>

                <label class="switch">

                <input type="checkbox" checked="">

                <span class="slider round" style="background-color: #ebebeb;"></span>

                </label>

                <span class="pick_span">Avhämtning</span>

             </div> -->

          </div>

      </div>

      <div class="restaurants__list">

          <span class="head_span">Restauranger</span>

          <section class="vendor-list-section opened ">
            <ngx-spinner
              bdColor="rgba(51,51,51,0.8)"
              size="medium"
              color="#fff"
              type="ball-scale-multiple">
            <p style="font-size: 20px; color: white">Loading...</p>
            </ngx-spinner>
            <ul class="vendor-list opened" *ngIf="lists.list" data-title-pickup="" data-title-delivery=""
              data-title-background="" data-show-extra-tile-info="false" data-show-pick-up-distance="true">

              <li *ngFor="let product of lists.list let i=index;">

                  <div class="IJsqo" [style.visibility]='product.is_sponsored?"visible":"hidden"'>
                      <!-- <div class="_1kXWW" style="">Bästa i städ</div> -->
                      <div class="_1kXWW">Sponsered</div>
                  </div>

                  <a href="#" data-flood-closed-message="" class="hreview-aggregate url">

                      <figure class="vendor-tile closed item ">

                          <picture style="top: -27px;">

                              <div class="vendor-picture b-lazy b-loaded b-loaded" [style.background-image]="'url(' +img_url+product.image+ '?width=100&height=584)'">
                              </div>
                              <img class="res_logo_side" src="{{img_url}}{{product.image}}">

                          </picture>

                          <figcaption class="vendor-info">

                              <span class="headline">

                                  <span class="name fn">{{product.restaurant_name}}</span>

                                  <div class="ratings-component">

                                      <span class="fa fa-star"></span>

                                      <span class="rating-new">{{product.rating_value|slice:6:11}}</span>

                                      <span class="count-new" data-count="(2)">

                                          {{product.rating_value|slice:11:13}}

                                      </span>

                                  </div>

                              </span>

                              <ul class="categories summary">

                                  <li>

                                      <span [className]="product.status=='open'?'budget-symbol--filled':'budget-symbol--filled-warn'">{{product.resto_sta}}</span>

                                  </li>

                                  <li class="vendor-characteristic">

                                      <span>{{product.resto_cuisine1}}</span>

                                  </li>

                              </ul>


                          </figcaption>


                          <!-- <div class="quick_view"><a href="">fler detaljer</a></div> -->
                      </figure>

                  </a>

              </li>
          </ul>
          </section>

          <section class="vendor-list-section temp-closed hide">

              <span class="title-flat">

                  NEXTGEN_PICKUP_TEMPORARILY_UNAVAILABLE

              </span>

              <ul class="vendor-list temp-closed" data-title-pickup="NEXTGEN_PICKUP_TEMPORARILY_UNAVAILABLE"
                  data-title-delivery="Temporarily unavailable" data-title-background="" data-show-extra-tile-info="false"
                  data-show-pick-up-distance="true">

              </ul>

          </section>

      </div>

  </div>

</div>

