
<div class="modal-header" style="text-align: center;text-transform: uppercase;  border-bottom: 1px solid #ebebeb;    padding: 0 15px 8px;   font-weight: 700; margin-top: 13px;">
   <button type="button" class="close" (click)= "closeReview()" data-dismiss="modal" style="position: relative;
      top: -20px;
      background-color: #780300;
      opacity: unset !important;
      padding: 6px 11px;
      color: #ffffff;
      border: 1px solid #fffdfd;
      border-radius: 50px;
      left: 24px;">&times;</button>
   <h4 class="modal-title">Skriv en recension</h4>
</div>
<div class="modal-body" style="text-align: center;
   font-size: 15px;
   letter-spacing: 2px;
   text-shadow: 2px 2px 11px red;">
   <textarea class="review_text"></textarea>
</div>
<div class="modal-footer1" style="border-top: 1px solid #ebe7e7; padding: 15px;">
   <button type="button" (click)= "closeReview()" class="check_btn_class1">Publicera recension</button>
</div>
